[2013-11-28 16:02] #652 closed, assigned to antw

[2013-11-29 08:52] ChaelKruip opened #653 "Warning bar from beta has been deployed to LIVE sever as well"
![energytransitionmodel](https://f.cloud.github.com/assets/1303760/1643814/81b7ca0e-58d3-11e3-8451-433417d5177a.png)

Including @dennisschoenmakers

[2013-11-29 09:06] #653 closed, assigned to antw

[2013-11-29 13:39] dennisquintel opened #654 "Could we make autobalance = true as a default?"
Probably we need to check the API clients....

[2013-11-29 17:28] #654 closed, assigned to antw

[2013-12-01 20:02] dennisquintel opened #655 "Implement authorization for the API and max calls per day/hour or so"
Annoying thing is that etmodel, mixer etc. all do these calls from the client side, which makes the host address change all the time.... :unamused: So, how can we make sure its a legit call from etmodel and not a university student that fires off a zillion requests from his laptop and says he's `"etmodel"`?

[2013-12-01 20:03] dennisquintel opened #656 "API calls should be possible over HTTPS as well"
Some may be afraid of exposed calls? Including @antw.

[2013-12-02 12:08] wouterterlouw opened #657 "Use non_energetic? with FILTER()"
It would be nice if we can also filter edges for non_energetic use, like: `FILTER(LG(final_demand), non_energetic?)`. Calculating the non-energetic energy flows now requires querying: _non-energetic = total - energetic_.

[2013-12-02 14:09] #657 closed, assigned to antw

[2013-12-03 15:24] #649 closed, assigned to antw

[2013-12-09 14:45] #543 closed, assigned to ChaelKruip

[2013-12-09 15:30] #624 closed, assigned to jorisberkhout

[2013-12-09 15:51] #506 closed, assigned to dennisquintel

[2013-12-10 19:34] dennisquintel opened #659 "Make etengine ready for release!"
Still to do:
- [x] Update README (I already did bits in bc4e6620cd1420aa9783d988081aaae463403b2d and e8dcc1f7941cc35a8f8ea80324ae61f07481bcba)
- [x] Remove all sensitive data
- [x] Remove excess/unused files

[2013-12-11 09:46] #625 closed, assigned to nobody

[2013-12-17 00:36] #659 closed, assigned to antw

[2013-12-17 08:50] jorisberkhout opened #663 "et-engine.com should tell the user it is a live server"
If I go to [et-engine.com](http://et-engine.com) it is telling me that this is a local or beta server, where I believe this should say that it is a live server.

![energytransitionmodel-3](https://f.cloud.github.com/assets/4669028/1762564/be124e16-66f7-11e3-98af-fc59de59554d.png)

[2013-12-17 09:16] #663 closed, assigned to antw

[2013-12-20 14:17] #565 closed, assigned to antw

[2013-12-23 10:32] ChaelKruip opened #666 "New method dependent_supply_of_carrier does not return value of correct node"
The method returns the demand (energy flow) of the node where the carrier 'changes' from the requested one to another. Therefore, transformation efficiencies are taken incorrectly into account.

In the example below,

[code]

returns 2.73 PJ, whereas the last node that has an **incoming** demand of greengas is `energy_distribution_greengas` (which has 2.51 PJ of demand).

![beta_et-engine_com_data

[2013-12-23 20:50] #666 closed, assigned to antw

[2013-12-30 10:28] #648 closed, assigned to ChaelKruip

[2013-12-31 10:21] #422 closed, assigned to nobody

[2013-12-31 10:23] #430 closed, assigned to antw

[2013-12-31 12:27] #611 closed, assigned to ChaelKruip

[2014-01-02 11:24] #456 closed, assigned to antw

[2014-01-07 08:56] wouterterlouw opened #668 "Error with ETsource on ETengine"
I would like set ETengine to the latest version of ETsource. However, the ETsource page on ETengine (beta) shows an error:
![07_01_14_09_55](https://f.cloud.github.com/assets/4319656/1857559/68ba1c2c-7779-11e3-8853-ed02025a2e83.jpg)

[2014-01-07 09:16] #668 closed, assigned to antw

[2014-01-08 08:17] dennisquintel opened #669 "Loss of Load Probability (LOLP) should be calculated from the demand curve"
Since the current LOLP calculation is not correct, and since we would like to simplify the calculation, we want to re-implement the LOLP calculation numerically.

For this, we need to access the `demand curve` (`= demand profile * demand`) from etengine. Currently, this lives in [merit](http://github.com/quintel/merit).

@jorisberkhout will discuss further details first with @AlexanderWirtz, and s

[2014-01-10 10:47] dennisquintel opened #671 "Clean up old LOLP calculation etc when new one is implemented"

[2014-01-20 12:21] #562 closed, assigned to antw

[2014-01-20 16:11] #612 closed, assigned to antw

[2014-01-21 15:24] #669 closed, assigned to antw

[2014-02-06 13:23] #671 closed, assigned to antw

[2014-02-06 15:08] #561 closed, assigned to antw

[2014-02-10 08:35] ChaelKruip opened #680 "Positions in graph layout should be carried over with deploy."
Not sure how to word this better but @wouterterlouw positioned all the new chemical industry nodes on BETA but their positions seem to have been lost (on both BETA and LIVE)

[2014-02-11 12:36] dennisquintel opened #682 "API should allow for more extreme values for inputs?"
We could get rid of [the check](https://github.com/quintel/etengine/blob/master/app/models/api/v3/scenario_updater.rb#L87-L90) whether the input is lower than or higher then the set `min` and `max` properties.

This could be kind of destructive: e.g. people could set any values for inputs. So the fundamental question is: do we trust the API user (sufficiently)?

As requested by @JonasVoorzanger. I

[2014-02-11 13:06] #682 closed, assigned to dennisquintel

[2014-02-17 13:20] wouterterlouw opened #684 "Carrier supply is -200% when energy flows are 0 MJ in the energy_distribution_coal_gas converter"
The cokes production is modelled differently with https://github.com/quintel/etsource/pull/768. Cokes production is now demand driven and the coal_gas production is now set by reversed shares from `energy_cokesoven_coal`, `energy_steel_blastfurnace_bat_transformation_cokes` and `energy_steel_blastfurnace_current_transformation_cokes`. When the technology share of blast furnaces are 0, the cokes an

[2014-02-18 13:38] wouterterlouw opened #685 "Can we switch the direction of the coupling carrier of the cokes oven?"
# Goal: Demand-driven cokes production

Currently, the cokes production is set to a constant value (the demand of `energy_cokesoven_consumption_coal_gas` is fixed and connected to `energy_cokesoven_transformation_coal` with a coupling carrier).
To avoid cokes production when there is no demand for cokes (i.e. no blast furnace), we are aiming to make the cokes production demand-driven.
# Approach

[2014-02-19 12:40] #685 closed, assigned to antw

[2014-02-20 12:39] #684 closed, assigned to antw

[2014-02-20 14:09] dennisquintel opened #686 "/etsource refresh does not pull in latest branches from github"
At least not on the production branch, I had to ssh into the server and run a `git pull origin production` there.

[2014-02-24 16:08] wouterterlouw opened #689 "Can we output a fixed percentage to a own use converter?"
In order to fix https://github.com/quintel/etsource/issues/761 I would like to add an explicit own use converter to the new refinery converter. This own use should be a fixed percentage of the total throughput of the refinery converter

![refinery](https://f.cloud.github.com/assets/4319656/2247229/7bc79358-9d6c-11e3-81c9-35e0d7c814c1.png)

On the [quintel/**etsource**@`refinery`](https://github.co

[2014-02-28 09:51] #610 closed, assigned to antw

[2014-02-28 10:03] #689 closed, assigned to antw

[2014-03-11 13:12] #680 closed, assigned to antw

[2014-04-11 09:53] #686 closed, assigned to antw

[2014-04-11 09:56] #606 closed, assigned to antw

[2014-04-24 11:21] ChaelKruip opened #697 "Production curves: Create D3 charts"
Part of https://github.com/quintel/etmodel/issues/1790

The [production curves for primary carriers](https://github.com/quintel/etsource/tree/master/datasets/nl/time_curves) need to be plotted (in linear scale) for all supported end-years. The resulting charts should have the following features:
- They display the data of the current country
- They show a legend to distinguish between different ca

[2014-05-15 08:01] #697 closed, assigned to antw

[2014-05-19 14:56] wouterterlouw opened #698 "Cannot install debugger (1.6.6)"
I am trying to run etengine my laptop with fresh install. It seems it runs into problems with installing debugger.

[code]

The full output is [here](https://gist.github.com/wouterterlouw/5f1c2cad39b6b428d6cd#file-gistfile1-txt). Any ideas?

[2014-05-19 17:38] #698 closed, assigned to antw

[2014-05-21 09:24] jorisberkhout opened #699 "For countries where has_employment = false, ETEngine still needs area attributes related to employment"
I encountered this issue while working on the UK 2012 dataset. For UK, we do not support the employment module and therefore set `has_employment = false` in `uk.ad`. I didn't specify any of the employment related area attributes which resulted in a failure to initialise ETEngine. More specific, I got this error  `Failed to calculate start value for employment_fraction_production input, with error:

[2014-05-27 14:55] AlexanderWirtz opened #700 "In Urgenda scenario, `buildings_chp_engine_biogas_dumped_heat` is non-zero, even though the CHP produces no heat or power"
@ChaelKruip Perhaps I am seeing things, but if you load the Urgenda scenario from the front end and check out the use of biogas, you may notice that the `buildings_chp_engine_biogas_dumped_heat` has a non-zero valuem identical to the 2011 value, even though the CHP produces no heat or power. This doesn't seem right. Is it?
Noticed this when working on [etsource issue 799](https://github.com/quinte

[2014-05-28 13:57] #700 closed, assigned to nobody

[2014-06-06 09:01] ChaelKruip opened #701 "Some specs fail"
Not sure if important but:

[code]

[2014-06-06 13:29] #701 closed, assigned to antw

[2014-06-30 13:59] antw opened #702 "How should we deal with queries which return Infinity or NaN?"
We recently [dealt with an issue](https://github.com/quintel/etsource/issues/820) in [`convert_to`](https://github.com/quintel/etengine/blob/master/app/models/qernel/converter_api/conversion.rb#L117-L175) in which a division-by-zero would result in a return value of `Infinity`.

Since Rails 4.1, this value cannot be encoded into the JSON which is returned to ETModel. Today, a query was returning `

[2014-07-07 13:07] jorisberkhout opened #703 "Biomass footprint image not available for France and Spain"
France and Spain currently have no image of the country that is used to indicate the biomass footprint like below for the Netherlands. Assigning @antw as I don't know where these image live / where they come from. Let me know if I can do anything myself to solve this issue.

![screen shot 2014-07-07 at 15 03 26](https://cloud.githubusercontent.com/assets/4669028/3495484/2432ddf4-05d7-11e4-82fc-3c0

[2014-07-07 13:28] #703 closed, assigned to antw

[2014-07-14 11:21] #603 closed, assigned to jorisberkhout

[2014-07-16 09:36] #460 closed, assigned to jorisberkhout

[2014-07-23 17:10] pietervanbreevoort opened #705 "scenario/compare (low priority)"
The table that is generated when scenarios are compared gives the sliders in a different order that the ETM interface. This makes it slightly more difficult to make scenarios in a batch as the user cannot read the comparison table from top to bottom.

[2014-08-13 13:10] #465 closed, assigned to antw

[2014-08-19 08:00] ChaelKruip opened #706 "Must-run CHPs should be dispatchable with the remainder of their capacity"
One (known) shortcoming of the way we currently treat must-run CHPs in the ETM is that they are completely dominated by their production profile. This profile describes the demand for heat (not explicitly modeled in the ETM).
In reality, however, must-run CHPs will produce electricity whenever they can make money (just like other dispatchable plants). The problem of not modeling this behavior is t

[2014-08-20 08:23] ChaelKruip opened #707 "(weighted) Carrier cost of green-gas and biogas is incorrect"
In the .ad files we have for green-gas: cost_per_mj = 0.020880551 and for biogas cost_per_mj = 0.017718419328832.

On BETA **both** carriers have weighted_carrier_cost_per_mj= 0.0017406.

[2014-08-20 09:57] #707 closed, assigned to antw

[2014-08-27 20:28] pietervanbreevoort opened #710 "Ambient heat/cold does not seem to be represented correctly in the final energy table"
Ambient heat/cold energy use in the "final energy demand" table does not correspond with the graph/table "Final energy demand for heating in residences". For example in the EU EE scenario, there is ambient heat/cold present in the latter graph/table but in the Final energy use table/graph, ambient heat/cold is only non-zero for agriculture. Are they included in another carrier in the "final energy

[2014-09-02 07:48] #566 closed, assigned to nobody

[2014-09-02 07:48] ChaelKruip opened #711 "Installed capacity of solar panels 'jumps' incorrectly when touching buildings PV slider"
In a new DE scenario (without touching any slider):
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/4115191/24d77778-3274-11e4-9b16-f4ffeaca1eaa.png)

After clicking '+' and '-' once for the buildings solar PV slider:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scen

[2014-09-02 12:18] #711 closed, assigned to antw

[2014-09-03 14:38] dennisquintel opened #712 "Scale down that area!"
For a new project we need to be able to scale down an area by the number of households.

Say: the area is _NL_ and that has 7_000_000 households. You want to scale that down to 5_000.

This lowers all the absolute numbers with a factor 5_000/7_000_000. Relative numbers shouldn't change of course (e.g. shares).

The user should be able to open up this new area through etmodel (pro).

Investigate fi

[2014-09-04 13:39] #710 closed, assigned to ChaelKruip

[2014-09-09 10:10] AlexanderWirtz opened #714 "Rename `buildings_final_demand_for_appliances_gas` to `buildings_final_demand_for_appliances_network_gas`"
I do not know if this faulty name means it is omitted in any crucial converter groups. probably not

[2014-09-16 11:53] ChaelKruip opened #716 "Question: Can demands of the HV network be consistently calculated?"
A simplified view of the HV network looks like this:

[code]

The MV-HV trafo represents a demand. Both the **Own use** and the **Loss** depend on the total demand in the HV network: their demands are a **fixed fraction times the demand of the HV network**.

On the other hand, the demand through the HV network needs to exactly match the demands of all the converters it is connected to on either si

[2014-09-17 13:37] #714 closed, assigned to ChaelKruip

[2014-10-07 19:43] AlexanderWirtz opened #719 "households_water_heater_heatpump_ground_water_electricity mistakenly connected to environment_air_ambient_heat"
This is not very important. ambient heat is ambient heat after all, but this converter uses ambient heat from the ground (hence the name :smile: )
so it should probably be connected to: `environment_earth_ambient_heat` instead

[2014-10-10 15:10] ChaelKruip opened #720 "Request: nicer formatting of GQL sandbox output"
![energytransitionmodel](https://cloud.githubusercontent.com/assets/1303760/4594417/801167dc-508f-11e4-8818-0f74c6791f27.png)

An image says more than a thousand words... :wink:

[2014-10-15 09:04] #720 closed, assigned to antw

[2014-10-16 14:11] #719 closed, assigned to ChaelKruip

[2014-10-31 14:00] #716 closed, assigned to antw

[2014-11-03 10:22] #635 closed, assigned to dennisquintel

[2014-11-03 10:22] #620 closed, assigned to nobody

[2014-11-03 10:40] dennisquintel opened #722 "Can't create new user"
[code]

[2014-11-03 13:35] #722 closed, assigned to twilkinson573

[2014-11-24 08:37] #712 closed, assigned to antw

[2014-11-24 08:43] ChaelKruip opened #727 "The insulation values should not be scaled!"
It seems that they are though (this is for a test-ground with a singly residence):
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5162323/343f600a-73be-11e4-8182-d472719d2168.png)

[2014-11-24 08:48] ChaelKruip opened #728 "Import / export balance is screwed up."
Perhaps an issue with the time-curves?
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5162381/e27b2712-73be-11e4-96c4-c1877c7ba039.png)

[2014-11-24 09:07] ChaelKruip opened #729 "Primary energy dashboard item is incorrect for scaled down area"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5162427/3841b0b2-73bf-11e4-969f-7d15139e6034.png)

Strangely, the pop-up chart seems to be correct.

[2014-11-24 09:12] ChaelKruip opened #730 "Exclude irrelevant sectors from the testing ground"
This would mean that there flows no (or negligible) energy through those nodes.

In particular:

* Industry: not possible through the interface yet
* Agriculture: not possible through the interface yet
* Energy sector: possible in the interface (just putting all sliders to zero units)

[2014-11-24 09:30] ChaelKruip opened #731 "It should be possible to scale an existing scenario"
Both preset scenario's and those stored in the data-base should be supported.

[2014-11-24 14:36] #728 closed, assigned to antw

[2014-11-24 15:53] #727 closed, assigned to antw

[2014-11-24 17:49] #729 closed, assigned to antw

[2014-11-25 08:55] ChaelKruip opened #732 "The scaling of a scenario should be reversible."
The client would like to see the impact of a certain testing ground **as if** it were implemented on a national scale. This is, obviously not possible in the strictest sense. For example, the testing ground may have no trains, but the country will likely have them etc.

Also, the sectors, slides and sliders that we want to hide and / or initialize to zero demand (see https://github.com/quintel/ete

[2014-11-25 09:11] ChaelKruip opened #733 "Should we scale 'flex max' caps on flows for the local scenario?"
The 'flex max' caps on several energy flows should probably be scaled as well.

[2014-11-25 09:12] ChaelKruip opened #734 "Add a 'land available for biomass production' slider to the ETM"
When brainstorming with John about the meaning of 'fuel production' for the local 'testing ground' scenario we dismissed all production of fuels except biofuels (wood, bio-oil) and biogas.

Would it be useful to add a slider to the ETM (in the fuel-production section for example) that allows the user to change the available land for biomass production.

Also see https://github.com/quintel/etengine

[2014-11-25 09:42] ChaelKruip opened #735 "It should be possible to set the number of buildings (or the square km's of buildings)"
For the local scenario is it insufficiently precise to set a 'growth percentage' for the number of buildings.

Perhaps we should also change the slider in the ETM to reflect the km^2 of buildings in a scenario.

@AlexanderWirtz @antw @dennisschoenmakers @jorisberkhout please chip in!

[2014-11-25 09:50] ChaelKruip opened #736 "Decide if we should add dummy converters to the graph"
For the ETM we have always adhered to the philosophy of only using technologies that are commercially available and have undebatable specs and costs. For the testing ground scenario's it makes sense to include more experimental technologies. Typically you can think of better heat-pumps, batteries, fuel cells, wind turbines or solar panels.

One way of making it possible to use 'non-standard' techn

[2014-11-25 10:01] ChaelKruip opened #737 "It should be possible to define (and save) multiple types of houses and buildings"
Title says it all.

[2014-11-25 10:01] ChaelKruip opened #738 "It should be possible to define (and save) multiple new technologies"

[2014-11-25 10:13] ChaelKruip opened #739 "DISCUSSION: Should we make a new interface to describe houses and buildings?"
The ETM typically deals with averaged properties. If the combi-boiler slider is set to 50%, we assume that there are 0.5 \* number_of_residences combi boilers in the country.

This assumption breaks down for single houses. If a house fulfils 50% of its heat demand with combi-boilers and 50% with a heat pump, it should contain both technologies **in full** not two halves of them.

If we were to use

[2014-11-25 10:17] #733 closed, assigned to antw

[2014-11-25 13:41] ChaelKruip opened #740 "Scaling interface needs some TLC"
It would already improve a lot if there was a non-zero left margin:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5183610/f9bda7d6-74b0-11e4-9c62-34457c1021f1.png)

I added the 'priority' label because I would like to show the interface in my kick-off presentation next Monday.

[2014-11-26 08:52] ChaelKruip opened #741 "DISCUSSION: Do we need a new way of comparing local and the national scenarios?"
Perhaps we could compare dashboard item?

Perhaps we could replace the data in our charts to show the 'national' and 'local' end-year-data instead of 'start-year' and 'end-year'?

@antw @jorisberkhout @AlexanderWirtz @dennisschoenmakers any bright ideas?

[2014-11-27 09:02] ChaelKruip opened #742 "Population chart should not use millions as multiplier for small testing grounds"
For small numbers of people the number should be readable. Now it shows just a zero.

[2014-11-27 10:57] #740 closed, assigned to antw

[2014-11-27 15:31] #742 closed, assigned to antw

[2014-11-28 09:06] #737 closed, assigned to antw

[2014-11-28 09:23] ChaelKruip opened #743 "Make exclusion of sectors optional with a toggle switch"
In https://github.com/quintel/etengine/issues/730 we have listed sectors and slides that need to be hidden and/or given zero demand in the graph.

This ticket is about making the exclusion of some of those sectors and slides optional. The main candidates would be:

* Industry sector
* Agricultural sector

This could for example be done by a yes/no toggle in the scaling interface.

[2014-11-28 09:32] ChaelKruip opened #744 "Calculate a number of electric cars for a local scenario"
We need to somehow translate the useful demand for transport and the percentage of electric cars to a number of cars.

[2014-11-28 09:37] ChaelKruip opened #745 "Documentation for Step 1"
There should be documentation for the user.

[2014-12-05 13:12] #739 closed, assigned to ChaelKruip

[2014-12-09 13:45] ChaelKruip opened #746 "The scaling interface should complain if no scaling value is given"
Now you can create a scenario which is 'frozen'. I can imagine many divide by zero (or nil) errors happening.

[2014-12-09 14:04] ChaelKruip opened #747 "Slider for power plants do not work as expected"
For wind-turbines, it looks like the max has been scaled down (too much):
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5358326/49464c42-7fb3-11e4-9c5c-23b0b95a0008.png)
This could be because the land surface available for wind turbines is also reduced...

Perhaps this is working technically corre

[2014-12-09 20:51] #746 closed, assigned to antw

[2014-12-12 10:27] #747 closed, assigned to antw

[2014-12-15 08:19] ChaelKruip opened #748 "Interface shows 0 residences but local scenario contains 100"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5412737/fab956e6-820f-11e4-967f-18a786db095b.png)

[2014-12-15 10:03] ChaelKruip opened #749 "Power plant sliders are not responding if power sector is disabled"
I think this is a bug. I expect all sliders to be initialised to zero if the power sector is disabled (and this is the case) but I think the user should be able to still build power plants. This is currently not possible.

@antw is this by design?

[2014-12-15 10:22] ChaelKruip opened #750 "Merit order is not working for scaled scenario"
I tested with 1000 residences.

[2014-12-15 10:24] ChaelKruip opened #751 "The user should also be able to scale a scenario by the number of residents"
Now the menu suggests more options but only allows 'residences'.

Not the highest priority.

[2014-12-15 10:29] #748 closed, assigned to antw

[2014-12-15 10:29] #750 closed, assigned to antw

[2014-12-15 15:22] dennisquintel opened #752 "External user should be able to view Converter Show page"

[2014-12-15 15:53] #751 closed, assigned to antw

[2014-12-16 14:43] #749 closed, assigned to antw

[2014-12-16 17:01] #752 closed, assigned to dennisquintel

[2014-12-19 10:36] ChaelKruip opened #754 "Do we also change the present graph when excluding sectors for scaled scenarios?"
When comparing for example CO2 emissions, the future is compared to the present. If we exclude a sector we should exclude it in both present and future graphs. Do we do this?

[2014-12-19 10:42] ChaelKruip opened #755 "What is the residual energy in the industry section of the primary energy Mekko?"
Own use of the energy sector?

[2014-12-19 11:57] #754 closed, assigned to antw

[2014-12-19 12:01] ChaelKruip opened #756 "Costs (pop-up) chart for very small testing grounds has weird axis labels"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5504070/181e3c00-877f-11e4-919c-d29a4d1dddbf.png)

[2014-12-22 08:33] ChaelKruip opened #757 "Space heating options are counted double: implications for local testing grounds"
This is a known issue: some technologies such as combi-boilers are used both for hot water and space heating.
The `number_of_units` are computed by multiplying the `number_of_residences` with the slider settings in both slides and the resulting number of combi-boilers can be **twice** the number of residences (if the sliders are 100% in both space heating and hot water).

Perhaps we could take the

[2014-12-23 14:57] ChaelKruip opened #758 "It looks like the color used for the legend is different then that in the graphs"
For example:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/5538946/84a3cb26-8abb-11e4-8a07-d9dc9301723b.png)
The grey in the graph represents coal but it looks more like the lignite grey in the legend.
At first I thought this was a visual trick due to the contrast of the colors in the legend (smal

[2014-12-23 14:57] #758 closed, assigned to antw

[2015-01-02 12:52] ChaelKruip opened #759 "Scaling interface fails to load when logged in to ETM"
It seems that there is a problem loading the user-specific scenarios. Also see [this Airbrake message](https://quintel.airbrake.io/projects/35337/groups/1324481542975690741/notices/1324481542975690739).

[2015-01-02 13:02] dennisschoenmakers commented on #759
I'll have a look at this @antw!

[2015-01-02 13:02] #759 closed

[2015-01-02 13:03] antw commented on #759
Already fixed. :smiley:

The form would break if ETModel contained a saved scenario which had since been deleted on ETEngine.

[2015-01-02 13:05] dennisschoenmakers commented on #759
:+1:

[2015-01-06 15:22] ChaelKruip commented on #755
Just all final demand in the energy sector. This energy disappears when energy sector is also 'excluded' from the testing ground scenario.

[2015-01-06 15:22] #755 closed

[2015-01-08 15:38] #730 closed

[2015-01-08 15:38] ChaelKruip commented on #745
Closing.

[2015-01-08 15:38] #745 closed

[2015-01-08 15:41] ChaelKruip commented on #743
Closing.

[2015-01-08 15:41] #743 closed

[2015-01-08 15:41] ChaelKruip commented on #741
Closing.

[2015-01-08 15:41] #741 closed

[2015-01-08 15:41] ChaelKruip commented on #731
Closing.

[2015-01-08 15:41] #731 closed

[2015-01-08 15:41] ChaelKruip commented on #744
Closing.

[2015-01-08 15:41] #744 closed

[2015-01-08 15:42] ChaelKruip commented on #738
Closing as this is out-of-scope for the moment.

[2015-01-08 15:42] #738 closed

[2015-01-08 15:42] ChaelKruip commented on #736
Closing as this is out-of-scope.

[2015-01-08 15:42] #736 closed

[2015-01-15 10:55] ChaelKruip opened #761 "Should the ETM support efficiencies that depend on the output?"
Related to https://github.com/quintel/etmodel/issues/1595 and made relevant again by https://github.com/quintel/etengine/issues/757
# Background

Combi technologies for space heating and hot water such as the 'combi boiler' occur twice in the ETM (both in the graph and the front-end). One reason is that some of these technologies perform with a different efficiency when they are used for "hot wate

[2015-01-23 15:37] dennisschoenmakers opened #762 "Merit Table cannot be downloaded anymore"
It still refers to the old MeritOrderInjector, while that has been replaced in d1237f4d0c5b8c5b3b412dee9807bd404d9aea99.

Including @ChaelKruip.

[2015-02-23 13:58] twilkinson573 opened #764 "create new scenario form doesn't submit"
Doesn't submit in production or staging due to a routing error

![image](https://cloud.githubusercontent.com/assets/6432221/6328933/589eea88-bb6c-11e4-86ec-df5a0a01dba9.png)

[2015-02-23 14:13] antw commented on #764
There's no action in the [Data::ScenariosController](https://github.com/quintel/etengine/blob/master/app/controllers/data/scenarios_controller.rb) either.

/faceplam

How urgently is this needed? I'm pressed for time on another project, and this isn't entirely straightforward because we need to account for share groups (ensuring that grouped of sliders sum to 100%) when creating your scenarios.

[2015-02-23 14:17] twilkinson573 commented on #764
Haha that does make it interesting!

@jorisberkhout what do you think?

I don't mind biting the bullet and entering the scenarios if there's a less elegant, more 'manual' way

[2015-02-23 14:22] jorisberkhout commented on #764
I would like to have the scenarios today, but am willing to spend time on the 'manual' way if you are pressed for time, @antw. The share groups should be no issue in this case, as I checked those in the original Excel document.

Would it be possible to fix only the first part of the issue today (and trust me on the share groups), @antw. If not, I will find some help and enter the scenarios manuall

[2015-02-23 14:37] antw commented on #764
That makes things simpler; I'll do this now. I'll make a second pass at a later date to account for share groups.

[2015-02-23 14:40] jorisberkhout commented on #764
Thanks a lot, @antw! You saved my day :smile: :

[2015-02-23 15:15] #764 closed

[2015-02-23 15:18] antw commented on #764
Pushed, and should be on staging momentarily. It's had minimal manual testing, but it appears to work. :pray:

[2015-03-06 08:57] jorisberkhout opened #765 "make merit:archive rake task available on master branch"
This has low priority.

I got a request if I could generate an hourly price curve for several scenarios on the Beta server. @ChaelKruip pointed me to the `merit:archive` rake task on the `berenschot_2015` branch, which does produce what I need, but is not compatible with the scenarios on the Beta server (when copied locally) because these have a converter that the rake task doesn't know about yet.

[2015-03-10 12:12] #765 closed

[2015-04-10 09:56] ChaelKruip opened #766 "QUESTION: What is the recommended method for retreving debug info?"
I have tried to use:

[code]
and
[code]
in the body of [this function](https://github.com/quintel/etengine/blob/master/app/models/qernel/demand_driven_converter_api.rb#L55-L79) but that makes ETE crash in weird ways.

Using
[code]
does not seem to result in any output (@dennisschoenmakers and I 'grep'ed on the log files but did not find any matches with the string).

[2015-04-10 09:57] ChaelKruip commented on #766
Including @dennisschoenmakers

[2015-04-14 16:08] antw commented on #766
[code]

The message will go to `log/{development,staging,production}.log` depending on the environment in which you're running ETE.

[Kernel#puts](http://ruby-doc.org/core-2.2.1/Kernel.html#method-i-puts) goes to the standard output, *not* the log; it will only work if ETEngine is running in the foreground (e.g. if you started it by running `rails server`).

[2015-04-14 16:08] #766 closed

[2015-04-14 16:21] ChaelKruip commented on #766
Thanks @antw!

[2015-05-07 14:03] grdw opened #767 "Setting up a 404 page"
Currently the full stack + routes are being presented when visiting a path that doesn't exist.

For instance: http://et-engine.com/bla

[2015-05-07 14:05] grdw opened #768 "Adding descendants for scenarios to the api"
Like discussed at https://github.com/quintel/etloader/issues/95

[2015-05-07 14:11] antw commented on #767
There is a 404.html in the public directory, but Rails isn't rendering it [even though it should](http://guides.rubyonrails.org/action_controller_overview.html#the-default-500-and-404-templates). That's... weird.

[2015-05-08 07:48] grdw commented on #768
@ChaelKruip I now am able to grab the descendants of a certain scenario. Though, is this what we truly want, considering that we only want to use scaled scenarios for ETloader? Or do we also want to include non-scaled scenarios?

[2015-05-08 10:09] ChaelKruip commented on #768
As discussed: it would be nice to show both (sorted by being scaled or not). With the 'units' working, we are able to import unscaled scenario's in ETLoader.

[2015-05-14 12:08] ChaelKruip opened #769 "New node attributes need to be added"
Flexibility nodes (P2P, EV, P2H, P2G) need to have some extra attributes:
* storage_volume
* leakage_per_hour (?)

[2015-05-15 14:28] ChaelKruip opened #771 ""Scale current scenario" option seems to reset the scaled scenario to the default"
If I start with [this scenario](http://beta.pro.et-model.com/scenarios/155680), and use the "scale scenario" button from the settings menu:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/7654659/1151e49e-fb1f-11e4-8f3f-a50c3cf9717f.png)
I get a scaled scenario where all sliders have returned to the

[2015-05-18 09:00] ChaelKruip opened #772 "Input capacities for heat pumps"
Because heat pumps have COPs (coefficient of performance) their input_capacity is not related to their output_capacity by the normal relation:
[code]
but by the following:
[code]
(right @AlexanderWirtz @jorisberkhout ?)

This never has been an issue in the ETM. For ETLoader, the input_capacity is important though (that is what results in **load** on the network). With COPs of 3 up to 4.5, the inpu

[2015-05-18 09:06] #771 closed

[2015-06-18 23:34] #769 closed

[2015-08-04 14:53] AlexanderWirtz opened #775 "bio_ethanol carrier should not be available for transport in 100% pure form. Instead a fuel mix called 'E85' should be a transport fuel"
Vehicles do not actually use 100% bio-ethanol. What they buy aas pumps is actually E85, a mixture of 85% ethanol and 15% gasoline.

## Suggested changes to etengine

After some more research by me, I wil suggest to change this is in the graph as follows:

- create `gasoline_mixer` converter
- rename `bio_ethanol` demand converters to `e85`demand converters

Also we need to:

- create the `e85` car

[2015-08-04 14:56] AlexanderWirtz commented on #775
E95 supposedly also exists. Placing issue on hold until I know more

[2015-08-11 11:12] ChaelKruip opened #776 "Question: why do these input statements work?"
There are a couple of incidents lately where I look at an input statement and do not understand how it could work. Perhaps we can learn something about these mysterious beings by asking the right questions... I was hoping that @antw could help me on my quest.
## Climate slider

In [this input statement](https://github.com/quintel/etsource/blob/master/inputs/demand/households/households_climate/hou

[2015-08-11 11:39] antw commented on #776
The `update_type` attribute is set to `%`. This will cause the `USER_INPUT()` to be [divided by 100](https://github.com/quintel/etengine/blob/90af3cf3a6405e3fe08d088cd4a3ffe83480254a/app/models/gql/runtime/functions/update.rb#L165-L173) to convert it to a factor. If you want the original value (between -5 and 5), remove the `update_type` attribute.

You're right, the empty `EACH()` does nothing. I

[2015-08-11 11:43] ChaelKruip commented on #776
@antw thanks for clarifying!

[2015-08-11 15:07] AlexanderWirtz commented on #775
I have updated `bio_ethanol` on etdataset in quintel/etdataset@ 6c061e1eb9c9e109de05009cc69d90c5cd44772f to have an E85 price based on average monthly gasoline prices.

I have included a debt in the `carrier_source_analysis` that we use the physical properties of ethanol, but the prices for E85.

Putting on hold for now

[2015-08-14 09:16] georgiasavvidou opened #777 "The number_of_inhabitants does not update the households_appliances_other_electricity_efficiency"
The slider number_of_inhabitants updates the electricity consumption of all the appliances in the demand except the households_appliances_other_electricity_efficiency.

![image](https://cloud.githubusercontent.com/assets/12493788/9270925/d6d057f8-4275-11e5-8a1b-d0868438a321.png)

[2015-08-14 09:23] georgiasavvidou opened #778 "The input transport_car_using_electricity_efficiency refers to both cars and trucks"
Maybe change the transport_car_using_electricity_efficiency into transport_electric_vehicles_using_electricity_efficiency (electric vehicles is the name in the ETM interface) or transport_electric_car_truck_using_electricity_efficiency to avoid confusion?

[2015-08-14 09:29] georgiasavvidou opened #779 "The input buildings_useful_demand_cooling_electricity does not refer to cooling"
There are two inputs:
1. buildings_useful_demand_cooling
2. buildings_useful_demand_cooling_electricity

The first one refers to cooling but the second one refers to the slider electricity per building (see picture)

![image](https://cloud.githubusercontent.com/assets/12493788/9271100/9523c658-4277-11e5-9d70-6385dc363a94.png)

[2015-08-14 09:34] georgiasavvidou opened #780 "The inputs industry_useful_demand_electricity and industry_useful_demand_electricity_efficiency refer to the other industry"
Maybe rename the inputs:
1. industry_useful_demand_electricity
2. industry_useful_demand_electricity_efficiency

to:
1. industry_useful_demand_for_other_electricity
2. industry_useful_demand_for_other_electricity_efficiency

in order to be consistent with the respective inputs for chemical industry and to avoid confusion.

[2015-08-17 10:14] ChaelKruip commented on #778
The gains of changing this are too slim to justify the work IMO. Closing.

[2015-08-17 10:14] #778 closed

[2015-08-17 10:16] ChaelKruip commented on #779
Well spotted @georgiasavvidou!

[2015-08-17 10:17] ChaelKruip commented on #780
:+1:

[2015-08-17 11:45] #780 closed

[2015-08-17 12:15] ChaelKruip commented on #777
Well spotted @georgiasavvidou. Because of the 'value freeze' we will postpone this to the January deploy.

[2015-08-17 12:18] ChaelKruip commented on #777
@georgiasavvidou, for future reference: input's are part of the 'etsource' repository and issues about them should be created there.

[2015-08-17 12:25] georgiasavvidou commented on #777
OK got that! Thanks!

On Mon, Aug 17, 2015 at 2:18 PM, Chael Kruip <notifications@github.com>
wrote:

--

Georgia Savvidou

Quintel Intelligence
Atrium - Strawinskylaan 3051
1077 ZX  Amsterdam
The Netherlands

Visiting address:
Keizersgracht 639
1017 DT Amsterdam

T  : +31 (0)20 301 22 69
F  : +31 (0)20 301 22 02
M : +31 (0)6 476 613 92

E  : georgia.savvidou@quintel.com
I   : www.quintel.com and

[2015-08-25 12:21] ChaelKruip opened #781 "Issues with initialising the storage/conversion nodes for the present year"
When we calculate storage and conversion, we need to run Merit on the demand curve and, hour by hour, determine the amount of energy that is stored/converted.
This is relatively 'straightforward' for the future year, but for the present things are not so easy. Especially, I am worried about how to initialise the graph.

The problem is that we don't know which numbers to use for the initialisation

[2015-08-25 12:21] ChaelKruip commented on #781
Including @dennisschoenmakers @AlexanderWirtz @jorisberkhout @antw

[2015-08-25 13:27] AlexanderWirtz commented on #781
Good point @ChaelKruip. I think this is the least bad solution. I agree that making the research analyses more complicated is not desirable. Still, you may not need to make them that complicated in order to obtain something that can initialize the graph.

[2015-09-07 12:07] dennisschoenmakers opened #782 "Can we update AREA attributes?"
As requested by @AlexanderWirtz and discussed by @antw.

We can already use the `UPDATE` method, for example for the `number_of_residences`:

[code]

We will have to put this into an input statement.

e.g.:

[code]

@AlexanderWirtz could you provide me with a list of which [area attributes](https://github.com/quintel/etsource/blob/ba3652a7b2b0c626d6def2958a1fc89303dc5b93/datasets/nl/nl.ad) you wou

[2015-09-07 12:10] antw commented on #782
[This input actually exists already](https://github.com/quintel/etsource/blob/master/inputs/demand/households/households_misc/households_number_of_inhabitants.ad).

[2015-09-07 12:11] dennisschoenmakers commented on #782
Excellent!

[2015-09-07 12:38] AlexanderWirtz commented on #782
Here is a first suggestion. This is a lot to ask, so please consider this a s a negotiation. :smile:
I have put the most important ones first:

### Wishlist

**Quite important**
[code]

**Quite nice to have:**
[code]
**Nice to have:**
[code]

### By the way
I noticed this attribute: `- number_of_residences = 7386743.0`
This seems redundant, after we specify `number_of_new_residences` and `number_o

[2015-09-07 12:44] dennisschoenmakers commented on #782
@AlexanderWirtz: could you include (example) numbers for the inputs? They do not have to be definite, but it makes testing 1_000_000 times easier. :smile:

[2015-09-07 12:44] ChaelKruip commented on #782
See https://github.com/quintel/etsource/issues/946

[2015-09-07 12:49] AlexanderWirtz commented on #782
I do not know the numbers yet. They will be close to the numbers that have been scaled down based on inhabitants, but after scaling, I would like to be able to fine-tune them.

For example:
The area I am working on is more rural than the rest of the Netherlands, so after scaling by `number_of_inhabitants`, I expect the `areable_land` to be too low, etc.

I want to set these to `false` *after scali

[2015-09-07 12:50] AlexanderWirtz commented on #782
Question: which attributes are scaled down? All of the numeric ones?

[2015-09-07 15:15] dennisschoenmakers commented on #782
The answer is found [here](https://github.com/quintel/atlas/blob/293795cb316529c6944d7f067f9738da9a2af2e0/lib/atlas/dataset.rb#L81-L106).

[2015-09-14 14:32] ChaelKruip opened #783 "Are cumulative updates of % and %/y type incorrectly implemented?"
# (Possible) Problem

@georgiasavvidou has pointed out to me that we possibly have an issue with update statements of the '%' and '%/y'-type. Focussing on the '%/y' update statements for the moment (but the '%' ones are equivalent), the future value is related to the user input (as a fraction) by

[code]

where the `number_of_years` is the number of years between the present and the future (see [t

[2015-09-14 14:34] dennisschoenmakers commented on #783
Good catch @georgiasavvidou !

[2015-09-14 14:54] antw commented on #783
A good catch indeed!

Yes. It [multiplies the `original_value` by the `user_input`](https://github.com/quintel/etengine/blob/e15ac4eda9500d970019c608020e508334a86a8e/app/models/gql/runtime/functions/update.rb#L145). The first time an input does this, `original_value` will be the same as `present_value`, but any subsequent calls will be the result changes made by the previous inputs.

I can see a w

[2015-09-14 15:10] ChaelKruip commented on #783
One real life example is the efficiency improvement and the growth of electricity in the chemical industry:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/9853340/64cf4582-5b03-11e5-8b27-a821781881af.png)
Setting both the sliders to 5%/y in a 2050 scenario results in almost 4 PJ difference wi

[2015-09-14 15:16] AlexanderWirtz commented on #783
You may want to notify John. This is part of the Rli stuff

[2015-09-14 15:26] dennisschoenmakers commented on #783
We could at least fix the problem by adjusting the slider settings to take this effect into account, regardless of the necessity of a long-term fix.

[2015-09-16 15:30] ChaelKruip commented on #783
It seems to be limited to **appliances in households** which are affected both by efficiency sliders and behaviour sliders and lighting and appliances in buildings.

The relevant sliders work with '%'-type updates.

[2015-09-21 08:07] RobTerwel opened #784 "Correcting Conversion Efficiency Units in the Transport Useful Demand Section"
As found out in https://github.com/quintel/etdataset/issues/626 ,all transport_(...)_kms converters have their conversion effiencies given as percentages, but physically these conversion effiencies should have units of km/MJ.

![38a4a2a4-5d4c-11e5-849f-2bf2784e9c47](https://cloud.githubusercontent.com/assets/14106387/9987441/3b572c0c-6048-11e5-9816-5d7e1e9024eb.png)

@antw, could you replace all '

[2015-09-21 15:04] ChaelKruip opened #785 "sustainability_share is calculated differently than expected"
The current sustainability value for the dashboard depends on gqueries of the form:

[code]

Here, the `sustainability_share` is the main method to determine how sustainable the demand of a node is. The `sustainability_share` of, for example, the `agriculture_final_demand_network_gas` node is equal to 0.00253366622.

What I would expect as the definition of the `sustainability_share` is:
[code]

W

[2015-09-21 15:22] dennisschoenmakers commented on #785
Good catch @ChaelKruip!

[2015-09-22 15:16] ChaelKruip opened #786 "The 'demand_of' method does not work on some nodes"
This is a weird one. The 'final_demand_of_<carrier>' method returns 0.0 for several nodes in the `final_demand_group` although they have a demand and it is properly calculated by the 'demand' method.

The nodes are:

* energy_power_sector_own_use_electricity
* energy_cokesoven_consumption_coal_gas
* energy_export_coal_gas
* energy_heat_network_unused_steam_hot_water

which are indeed 'odd ones out

[2015-09-22 15:16] ChaelKruip commented on #786
Including @dennisschoenmakers @AlexanderWirtz @jorisberkhout

[2015-09-23 09:13] ChaelKruip commented on #786
Changed milestone to coming deploy because it would be nice if we could update the renewability chart.

@antw can you please make an estimate how complex this is to fix?

[2015-09-23 09:51] antw commented on #786
@ChaelKruip Can you provide one or two GQL statements which you would expect to be non-zero? I'll take a quick look into this today.

[2015-09-23 09:57] ChaelKruip commented on #786
[code]
should give the same as
[code]
 but returns 0.0.

[2015-09-23 09:59] ChaelKruip commented on #786
Same story for `V(energy_power_sector_own_use_electricity, demand_of_electricity)`

[2015-09-23 10:13] antw commented on #786
Thanks for that. I'm a bit confused because the title and examples make mention of `demand_of`, but the issue description says `final_demand_of`.

`demand_of` doesn't use recursive factor, and simply returns the amount of energy which *leaves* the converter as a particular carrier. [It's an alias of "output_of_carrier"](https://github.com/quintel/etengine/blob/a61000ef3add0ae903ecc4666bab89168be33

[2015-09-23 10:55] ChaelKruip commented on #786
Sorry about that. I meant `demand_of`

I never knew that! Very useful! That solves my issues.

[2015-09-23 10:55] #786 closed

[2015-09-23 11:51] ChaelKruip commented on #785
Closing this issue because we want to stick with the current definition of renewability based on final demand (annoying as it may be).

[2015-09-23 11:51] #785 closed

[2015-09-29 15:01] ChaelKruip commented on #772
Closing as this is already covered by https://github.com/quintel/etmoses/issues/334

[2015-09-29 15:01] #772 closed

[2015-10-07 15:16] antw opened #790 "NICE TO HAVE: query for bio footprint"
_From @ChaelKruip on October 7, 2015 15:6_

@AlexanderWirtz and myself have been dreaming up some charts to display relations between energy content and bio_footprint of carriers (and how much they are used in a scenario). Currently, the bio_footprint is [calculated in ETEngine](https://github.com/quintel/etengine/blob/master/app/models/qernel/graph_api.rb#L61-L71) but there is no easy way to use

[2015-10-07 15:18] antw commented on #790
This works:

[code]

Not sure if it's what you're looking for though, and it requires dropping down from GQL to plain-Ruby, which isn't ideal...

[2015-10-07 15:24] antw commented on #790
This versions avoids the pure-Ruby gymnastics:

[code]

[2015-10-08 08:01] ChaelKruip commented on #790
Thanks @antw!

[2015-10-08 08:01] #790 closed

[2015-10-19 15:40] ChaelKruip opened #791 "How to model the hybrid heat pump?"
In the second sprint of the ETMoses gas-infra project we will add the hybrid heat pump to the ETM (and ETMoses). This ticket is meant to discuss how to model this new technology in the graph.

# Background

DISCLAIMER: numbers mentioned here are indicative will be properly researched by @AlexanderWirtz before the start of the second sprint.

A hybrid heat pump (HHP) consists of a small electric he

[2015-10-22 10:12] ChaelKruip opened #792 "Population should be scalable for scaled scenario"
Now the population slider is stuck because the unit is millions and the caps are mapped to zero both...

[2015-10-28 12:48] ChaelKruip commented on #791
After discussion with @jorisberkhout I am leaning more and more towards solution direction 1 (three nodes to model the hybrid heat pump). The main considerations:

# option 1 (three nodes)
## Pros
* COP and efficiencies for HP and CB part can be fixed which makes things more transparent for researcher and users and keeps the analysis in Excel relatively straightforward
* FLH for the HP and CB part

[2015-11-02 14:52] antw commented on #791
This seems like it might have been a perfect candidate for the mythical "embedded graph" wherein the HHP converter could contain "sub-converters" which describe the separate components.

I'm biased towards the first option, if only because of "no extra features in ETEngine are required". :laughing:

If we could implement a generic solution in ETE (such as embedded graph) which could be reused to s

[2015-11-02 15:03] ChaelKruip commented on #791
I know! :sob:

:+1:

[2015-11-03 14:12] dennisschoenmakers commented on #791
Agree 100% with you @antw and @ChaelKruip ! option 1 for now, and let's try to go for embedded graph  next year hopefully!

[2015-11-04 13:34] AlexanderWirtz commented on #791
@ChaelKruip I finally got through the wall of text this time (sorry) and agree entirely with the choice for option 1. I also agree with the following:

The FLH for heating will depend on the level of insulation of the average house the HHP is installed in. The ratio of q1/q2 will obviously change as demand for space heating changes. A devilishly difficult problem to model...

[2015-11-09 16:35] ChaelKruip opened #794 "QUESTION: How can I query the electric input capacity for a heating / cooling technology?"
When querying the various capacities defined for the airconditioner, I got kinda lost:

[code]

It seems that to find the capacity for electricity (related to the load it actually puts on the network) I have to take the input capacity and divide it by the COP...

Is there a more direct way of querying the input capacity for electricity in such technologies @antw?

Isn't it weird that the input cap

[2015-11-09 16:38] ChaelKruip commented on #794
The input capacity is defined [here](https://github.com/quintel/etengine/blob/master/app/models/qernel/converter_api/cost.rb#L14-L36)

[2015-11-19 14:41] dennisschoenmakers opened #796 "Can we download the layout (graph) as a pdf/eps/svg?"
That would be handy.

How difficult is this @antw @grdw?

[2015-11-19 15:06] dennisschoenmakers commented on #796
It's currently already an SVG object within the html page. Could we use something like:

[code]

[2015-11-19 15:13] antw commented on #796
The layout is rendered entirely using JavaScript, so there's nothing on the Rails side that we could reuse to build this: it would have to be made from scratch.

We can already generate the graph layout from Refinery using GraphViz, but it's not nearly as readable. If we could find a way to reuse the converter positions from ETEngine and feed the into GraphViz, that would make the output far more

[2015-11-19 15:26] dennisschoenmakers commented on #796
Anything on the JavaScript side then?

[2015-11-19 16:37] grdw commented on #796
You can convert an `svg` to a `png`. I had to investigate a little for ETMoses. I'm not sure if it's functional yet :sweat_smile: . I'm going to look into it tomorrow for ETMoses in https://github.com/quintel/etmoses/issues/604

[2015-11-19 16:40] antw commented on #796
:+1:

I have added a "save as SVG" option in the meantime:

![screen shot 2015-11-19 at 16 39 42](https://cloud.githubusercontent.com/assets/4383/11276971/3ab712fe-8edc-11e5-93db-80ca2c720351.png)

[2015-11-30 09:11] ChaelKruip opened #799 "Overflow feature needed for hybrid heat pump"
With the modeling of hybrid heat pumps as three nodes (see https://github.com/quintel/etengine/issues/791) we run into the following issue.

The combi-boiler part of the HHP is connected to both the collector and to the HP part as shown here:
![](https://cloud.githubusercontent.com/assets/1303760/10788204/52dfaba6-7d76-11e5-8f66-9ffe6e0e0f0b.png)

The reason for this: when the HP part cannot fulfi

[2015-11-30 09:12] ChaelKruip commented on #799
Including @dennisschoenmakers @jorisberkhout @AlexanderWirtz

[2015-11-30 09:19] AlexanderWirtz commented on #799
Is it time to revive the infamous 'flex_max' feature?

[2015-11-30 10:17] ChaelKruip commented on #799
Interesting suggestion! Perhaps that is easier in the end...
Using a 'cap' on the HP edge, the situation could be described as follows:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/11468999/c70490ea-9753-11e5-8be7-5f37d289adeb.png)

I am not sure if we can have both the 'fixed' q_1 and _q2 and the 'overflow' happening correctly though. @antw what do you

[2015-11-30 10:37] antw commented on #799
We could probably add the option to hard-limit a demand-driven converter to 8760 hours without much difficulty. Do you think that would be enough to solve the problem?

With flex-max, it is possible to assign a `priority` to edges to force one to be given preference over another. I don't think that solves the problem though as there is still the question of what to do with the overflow.

[2015-11-30 12:52] ChaelKruip commented on #799
Thanks @antw for your feedback. After discussing this with @dennisschoenmakers I'm closing this issue as we decided to keep the shares fixed and ignore the 'overflow' feature for now.

[2015-11-30 12:52] #799 closed

[2015-11-30 12:57] ChaelKruip commented on #791
As discussed in https://github.com/quintel/etengine/issues/799, @dennisschoenmakers and myself opted to keep the q1 and q2 fixed for the moment. This simplifies the inclusion of HHPs.

[2015-12-01 12:55] ChaelKruip opened #800 "Demand driven calculation does not work for current modelling of hybrid heat pump"
I have (locally) added a hybrid heat pump to the space heating section as described in [this comment](https://github.com/quintel/etengine/issues/799#issuecomment-160587873):

![etengine_dev_data_latest_layout_edit](https://cloud.githubusercontent.com/assets/1303760/11501052/8dadbdec-9831-11e5-9ba1-b6194f3fc244.png)

I would like the hybrid heat pump (and its two parts) to behave like a 'demand dri

[2015-12-01 12:56] ChaelKruip commented on #800
Including @AlexanderWirtz @dennisschoenmakers @jorisberkhout

[2015-12-01 14:01] ChaelKruip opened #801 "DISCUSSION: what do we expect a single converter hybrid heat pump implementation to do?"
Several issues suggest that it would be easier to model the hybrid heat pump (HHP) as one single converter:

* https://github.com/quintel/etengine/issues/800
* The fact that we would not need to create a lot of ugly gqueries summing the costs etc. of two converters

On the other hand, the HHP is complex and putting all that complexity in one converter may require new functionality in ETE. This tic

[2015-12-01 14:01] ChaelKruip commented on #801
Including @jorisberkhout @AlexanderWirtz @RobTerwel @dennisschoenmakers

[2015-12-01 15:25] antw commented on #801
To be clear: the converter will use electricity and gas simultaneously, rather than using electricity up to a limit, and then "failing over" to gas when the electricity limit is reached?

I don't really understand what the desired *behaviour* of the HHP converter is. You want to be able to set the heat input conversion (efficiency) using an input, and have the ambient heat input be dynamic, or...?

[2015-12-01 15:47] ChaelKruip commented on #801
Yes indeed. With hindsight, the ""failing over" to gas" behaviour is a bit too complex for what we need at this point IMO.

I want the ratio of heat_produced_with_gas to heat_produced_with_ambient_heat_and_electricity to be flexible (adjustable by an input statement).

Say the demand for heat is 100 PJ, and the ratio is 1/4 I expect the consumption of gas to be:
[code]
the consumption of electrici

[2015-12-01 15:55] ChaelKruip commented on #791
Closing this discussion.

[2015-12-01 15:55] #791 closed

[2015-12-01 15:59] ChaelKruip commented on #800
I have [pushed an update statement](https://github.com/quintel/etsource/commit/d97fe2f8d0e2b97051c87856d301d28fd0deb7a2) which changes the number_of_units of all hybrid heat pump parts. Unfortunately it only applies to the future year: in the present year, the number of units is still set by the demand driven calculation which impacts predominantly the investment costs in the present year.

I thin

[2015-12-02 09:01] ChaelKruip commented on #801
To make the above more numeric:
* COP = 4.5
* efficiency_of_gas_heater = 1.0
* heat_demand = 100 PJ
* fraction_of_hp_to_gas = 0.25

This would mean that:
* gas_consumed = 25 PJ
* electricity_consumed = 75/4.5 = 16.66666...
* ambient_heat_consumed = 75 * 0.7777777778 = 58.33333...

[2015-12-02 09:14] dennisschoenmakers commented on #801
I guess the 'final end solution' to this kind of problem would be a subgraph, a long term wish: in that case we could ask the 'sub energy system' that is a hybrid heat pump installation for it's costs, it's full load hours, etc. which would all be defined on the *sub system* level. I guess this is a good approach given the current limitations.

[2015-12-02 11:03] antw commented on #801
I'm not sure why the amount of heat demand (in PJ) is significant. If the user is choosing what share of the input should be gas, is it not simple to adjust the electricity and ambient_heat conversions like so?

[code]

Having to hard-code the electricity and ambient heat conversions is a bit ugly, but would be okay in the short-term.

I suppose we'd have to hard-code suitable starting values for

[2015-12-02 11:07] ChaelKruip commented on #801
You are 100% correct @antw! @RobTerwel and myself are experimenting with exactly the kind of input statements as you describe. The first results are hopeful :smile:

[2015-12-04 11:33] ChaelKruip commented on #801
Closing this as we have proven that this is feasible.

[2015-12-04 11:33] #801 closed

[2015-12-04 11:34] ChaelKruip commented on #800
Closing as this is not relevant anymore because of the one-converter modelling of the HHP.

[2015-12-04 11:34] #800 closed

[2015-12-10 09:40] jorisberkhout opened #803 "create new method to calculate required additional network capacity"
This is part of https://github.com/quintel/etmodel/issues/1961 where I describe the background of the network calculation. The current issue deals with the core of the calculation.

**Current implementation**

Currently we calculate the required additional network capacity in a set of Gqueries (e.g. `network_lv_net_delta_peak_load_max.gql`), in which we compare the additional peak load on the that

[2015-12-10 10:21] dennisschoenmakers commented on #803
@jorisberkhout thanks! could you:
* add a list of and link to all the queries that need updating?

With regards where to store the distribution files: I think they belong in the country's dataset/year directory. Could you put them in a separate folder, and one for every node?

@antw I would like to ask you to make an estimate on time required to implement this technically.

[2015-12-10 10:26] dennisschoenmakers commented on #803
@jorisberkhout: could you also add a numeric calculation example? So we could write the spec and be sure it calculated correctly

[2015-12-10 11:03] jorisberkhout commented on #803
The following Gqueries would need to be updated (I will do this once the new method would be available):

- [network_hv_mv_trafo_delta_peak_load_max.gql](https://github.com/quintel/etsource/blob/master/gqueries/modules/network/network_impact_calculations/hv_mv_trafo/network_hv_mv_trafo_delta_peak_load_max.gql)
- [network_lv_net_delta_peak_load_max.gql](https://github.com/quintel/etsource/blob/mast

[2015-12-10 11:13] jorisberkhout commented on #803
I have pushed these distribution files for the NL dataset to a separate branch on ETSource (`load-distrbutions` (apologies for the typo in the branch name :smile:). The files are called:

- `network_hv_mv_trafo_distribution.csv`
- `network_lv_net_distribution.csv`
- `network_mv_d_net_distribution.csv`
- `network_mv_lv_trafo_distribution.csv`
- `network_mv_t_net_distribution.csv`

We currently only

[2015-12-10 11:17] dennisschoenmakers commented on #803
@jorisberkhout could you add a link to that etsource commit?

[2015-12-10 11:18] jorisberkhout commented on #803
https://github.com/quintel/etsource/commit/25b253bd2bc1bbd74f8d690c267891541640a07c

[2015-12-10 11:37] antw commented on #803
I suggest we add a new attribute to Atlas::Node so that you may specify the distribution file:

[code]

(I'm not sure about the name, we can change that as you see fit).

Given that all of the data seems readily available, implementing the method seems pretty simple. I would estimate a day, maybe two. I would want to add support to Atlas to read the distribution files (with some simple tests), add

[2015-12-10 11:39] jorisberkhout commented on #803
In the table below I provide one numerical calculation example per voltage level, so you can test the individual voltage levels one by one

| Voltage level | input: Additional peak load (`L_p`) (MW) | input: Total capacity of the voltage network (`C_tot`) (MW) | Expected output (MW) |
|---|---|---|---|
|`hv_mv_trafo`| 20,000.0 | 37,830.0 | 8,053.2 |
|`lv_net`| 100,000.0 | 98,179.2 | 17,431.3 |
|`m

[2015-12-10 12:06] jorisberkhout commented on #803
Indeed.

Good idea. So far I simply added the `network_capacity_available_in_mw` and `network_capacity_used_in_mw`. If possible, I suggest we do the same in the new method.

[2015-12-10 12:16] antw commented on #803
![](https://i.imgur.com/CRIcP.gif)

(Sorry :laughing:)

In which case, I think one day is fair for the technical implementation. 1.5 if you want to be cautious, but I don't see any complicating factors.

BTW, thanks for the clear and detailed explanation!

[2015-12-10 12:18] jorisberkhout commented on #803
:laughing:

[2015-12-10 14:21] jorisberkhout opened #804 "Remove converter positions for add_on technologies from `converter_positions.yml`"
As fas as I understand, there are no add-on technologies in the graph any more, but their positions are still in `converter_positions.yml`.

[2015-12-11 08:29] #804 closed

[2015-12-15 14:16] #803 closed

[2015-12-15 14:22] antw commented on #803
All done!

@jorisberkhout: [Atlas](https://github.com/quintel/atlas/commit/43c3a241b2ba64c4fac82e66823373fb676dd36a) and [ETEngine](https://github.com/quintel/etengine/commit/45bbde8bf4f46fc3b1e7e2610aed137f12394afe) are updated, and [I assigned the appropriate `capacity_distribution` attributes](https://github.com/quintel/etsource/commit/074d4bd79aa678430b51f83194ab4396274732b9) on your load-dist

[2015-12-15 14:25] dennisschoenmakers commented on #803
Super fast!

[2015-12-15 14:28] jorisberkhout commented on #803
Wow, that's fast, thanks!

These certainly meet my approval, so no changes required there.

I'm going to work on implementing it in the relevant Gqueries right away.

[2015-12-22 12:59] ChaelKruip opened #806 "Data from P2H and P2G from Merit needs to be taken into account in future graph"
See https://github.com/quintel/merit/issues/135 for the information that Merit collects.

There are two of these quantities that affect the other energy flows in the graph:

* Amount of gas produced by P2G: we have decided to mix the produced hydrogen gas from P2G into the gas-network. This would require the `energy_flexibility_p2g_electricity` to be updated with the production after Merit has don

[2015-12-22 15:54] #777 closed

[2016-01-08 13:40] dennisschoenmakers opened #808 "After using input statements that affect both present and future, sliders in interface do not have an effect anymore"
@AlexanderWirtz created a scaled scenario for Ameland and has used many [**new input statements**](https://github.com/quintel/etsource/commits/new_input_statements).

But now when you load the scenario (see below) in etmodel, the space heating sliders for households do not work anymore.

### scaled scenario

[code]

### scenario_scaling

[code]

including @ChaelKruip and @grdw

[2016-01-08 14:31] AlexanderWirtz commented on #808
@antw I will give some more background to this issue

## Background
We are trying to create ETM scenarios for a tiny island called Ameland. this has 1657 residences and not much else. Scaling down from a Dutch ETM scenario results in energy demands that are at best > 50% off, at worst > 300%. I know this, because I have found pretty good data on energy use in Ameland. Needless to say, these scaled

[2016-01-11 12:46] antw commented on #808
This is because they have been assigned to the `heating_households` and `hot_water_households` share groups, which is used to balance the inputs on the *future* graph.

On the `new_input_statements_regrouped` branch, [I assigned new groups to the "adjust_scalings" inputs](https://github.com/quintel/etsource/commit/d76c631c31c8ae36e30ca1fc365628923891982b) (`heating_households_present` and `hot_wat

[2016-01-11 12:50] dennisschoenmakers commented on #808
Thanks!!!

[2016-01-15 08:46] RobTerwel commented on #783
After I spotted a similar problem in the <a href="https://github.com/quintel/etsource/pull/1025https://github.com/quintel/etsource/pull/1025">transport sector<a/>, @jorisberkhout pointed me at this issue. I think the way I corrected those input statements there could also work here.

First of all, I think the solution proposed by @ChaelKruip

might be incorrect in some cases. This only works if us

[2016-01-15 08:47] #808 closed

[2016-01-18 09:12] grdw opened #809 "Rails code reloading does not work"
<img width="518" alt="screen shot 2016-01-18 at 10 10 05 am" src="https://cloud.githubusercontent.com/assets/2676542/12387285/b80a3f10-bdcb-11e5-9435-a1479ca9c6e7.png">

When running et-engine locally this error sometimes flies by in my console. I would have a clue how to approach this error but I hope that you might know directly how to resolve this. If not than I'll be happy to try and fix it.

[2016-01-18 09:37] antw commented on #809
This has been present since ETE was moved to Rails 4; something changed in the Rails development-mode code reloader and this problem has been a problem ever since. :disappointed:

As far as I can tell, when you make a change to a Ruby file Rails reloads the code, but for some reason there are still old `Input` objects being used to execute queries. My assumption was that this is because `Input` ob

[2016-01-18 13:40] grdw opened #810 "Future of GQL not correct for AREA(number_of_residences)"
This is a follow up from https://github.com/quintel/etmodel/issues/1934

[2016-01-18 13:53] grdw opened #811 "Question: Why is the test GQL executed in a view and not in the controller?"
See relevant line: https://github.com/quintel/etengine/blob/master/app/views/data/gqueries/_result.html.haml#L2

Might be a possible clean-up.

[2016-01-18 13:55] antw commented on #811
Because it's ancient. :laughing: There's no technical reason that I'm aware of.

Feel free to change it!

[2016-01-18 14:02] grdw commented on #811
I hoped that that was the answer haha. :smile:

Cool. :+1:

[2016-01-18 15:04] grdw opened #812 "A copy of Qernel::Lifecycle has been removed from the module tree but is still active!"
On development this issue arrises when editing the code and perform two of the same gqueries in a row.

Does lifecycle refere to a literal 'code' lifecycle or?

Fyi: I don't use powder but the regular rails server.

[2016-01-18 15:09] grdw commented on #810
Two possible things:

- One it happens when scaling and it's stuck. However this cannot be the problem since I see the value scale in the console.
- Or the gquery responsible for determining the future of `AREA(number_of_residences)` and the gquery-chain behind it doesn't make sense.

Did found [this](https://github.com/quintel/etsource/blob/master/inputs/demand/households/households_misc/househol

[2016-01-18 15:36] antw commented on #812
This is basically the same as #809; objects are persisting in memory for some reason and not being reloaded correctly by Rails when editing a file.

It's used to manage the calculation of the graph; in particular, it allows us to change the way some things are calculated by injecting "plugins" into the calculation process. For example, [in the case of the Merit plugin](https://github.com/quintel/e

[2016-01-18 15:36] #812 closed

[2016-01-18 15:42] grdw commented on #810
Update: credits to @RobTerwel

If you change the `households_number_of_old_houses` than the future value of your scaled model value for `number_of_residences` will be the `households_number_of_new_houses` + scaled old houses and vice versa.

So if your default slider positions for `households_number_of_old_houses` is 20 and your `households_number_of_new_houses` is 10. And you drag the `households

[2016-01-18 15:47] antw commented on #812
For what it's worth, this was never a problem with Rails 3, and only started after upgrading to v4. Maybe it would be worth trying the Rails 5 beta to see if the situation has improved?

[2016-01-19 09:52] grdw commented on #810
@antw

Where in the code is [this](https://github.com/quintel/etengine/blob/master/app/models/scenario_scaling.rb#L173-L175) executed? I'm thinking that the problem lies within the fact that when you drag the `households_number_of_new_houses` but don't touch the `households_number_of_old_houses` the slider for `households_number_of_old_houses` doesn't get scaled causing this bug.

[2016-01-19 10:04] antw commented on #810
It's private, and not called within the ScenarioScaler class itself, so I would expect that `input_value` is dead code and can be removed.

The actual scaling of user values [happens here](https://github.com/quintel/etengine/blob/d67fef8bfaa001abde8ad51facf71233e00eb307/app/models/scenario/persistable.rb#L74-L78) – these are the inputs for which the user has provided a value by moving a slider. Th

[2016-01-19 10:30] antw commented on #810
I have found the issue; bear with me for a bit and I'll push and explain the fix.

[2016-01-19 10:32] grdw commented on #810
@antw Allright! I'm very curious.

[2016-01-19 10:43] #810 closed

[2016-01-19 10:45] grdw commented on #810
So it was a caching problem after all. Thanks for the fix!

[2016-01-19 10:49] antw commented on #810
Not really a caching problem; more an oversight in not updating all of the `Input` methods to account for the scaling system.

[This line in the Input](https://github.com/quintel/etsource/blob/0768a45d43e2c4f2ef21c7d32768ef7cc3b1e5dd/inputs/demand/households/households_misc/households_number_of_old_houses.ad#L43) was what I noticed. The `number_of_residences` attribute is set by adding the number

[2016-01-19 10:52] jorisberkhout commented on #810
Nice! Thanks for diving into this issue and solving it, @grwd and @antw !

[2016-01-20 10:55] RobTerwel opened #813 "Adding a number_of_units attribute to converters"
## Background

We have some methods in ET-Engine to calculate the number_of_units attribute based on their <a href="https://github.com/quintel/etengine/blob/master/app/models/qernel/converter_api/helper_calculations.rb">capacity<a/> and one specifically for (space/water heating technologies) <a href="https://github.com/quintel/etengine/blob/master/app/models/qernel/demand_driven_converter_api.rb">

[2016-01-20 15:04] RobTerwel opened #814 "Dynamic calculation of weighted average of output.useable_heat seems static"
On the ETSource branch `hhp_if_statement` I added the following attributes to the `households_space_heater_hybrid_heatpump_air_water_electricity` node:
- output.useable_heat.network_gas = 1.067
- output.useable_heat.electricity = 1.0
- output.useable_heat.ambient_heat = 1.0

Based on the input shares, ETE then calculates the weighted average of `output.useable_heat`. When I run

[code]

in the GQL

[2016-01-20 15:15] antw commented on #813
@RobTerwel Would you mind pushing your ETSource and Atlas changes to branches on GitHub? I'll take a look and see what I can do.

[2016-01-20 15:18] ChaelKruip commented on #814
Thanks @RobTerwel for writing this down so clearly :+1:

[2016-01-20 15:19] RobTerwel commented on #813
Sure, ETS is <a href="https://github.com/quintel/etsource/compare/h2_number_scaling">h2_number_scaling<a/> and Atlas is <a href="https://github.com/quintel/atlas/compare/new_attributes">new_attributes<a/>. Thanks!

[2016-01-20 15:20] RobTerwel commented on #814
Thanks, @ChaelKruip ! :blush:

[2016-01-20 15:36] antw commented on #814
I don't think that this is supported in ETEngine; it's a feature of Atlas/Refinery used to create the data which is fed into ETEngine. The documentation does not make that very clear, sorry. The only such dynamic calculation in ETEngine [is for loss](https://github.com/quintel/etengine/blob/5f96908e6377d866fcde6acf98b48d6d091f0131/app/models/qernel/slot/elastic.rb).

I'm not sure how robust such a

[2016-01-20 15:40] RobTerwel commented on #814
Thanks a lot for clearing this up, @antw !

@ChaelKruip , shall I make a ticket for implementation of this feature?

[2016-01-20 16:23] #813 closed

[2016-01-20 16:27] RobTerwel commented on #813
Great work, @antw ! Thanks for making this possible, also in such a small timespan!

[2016-01-20 16:28] antw commented on #813
This has been done in 13dd4ce5, and all the queries are executing correctly for me.

This was pretty much correct. Most converters would get a `number_of_units` set to `nil`, since they had no value defined in ETSource. I've set it so that any converter with no NoU will compute the value as before.

[2016-01-20 16:29] RobTerwel commented on #813
:+1:

[2016-01-21 08:23] jorisberkhout commented on #784
Assigning @grdw .

[2016-01-21 13:37] grdw commented on #784
I see that it's hard-coded as a percentage. Is this only needed for `transport_car_using_electricity` or also for other converters? If so, which ones?

[2016-01-21 13:51] antw commented on #784
Before @grdw gets too far with this... would you each be receptive to including the km/MJ value separately, below the percentage (even though the number is the same)? The slot conversion being a *percentage* is fairly fundamental part of what a slot is, and I can imagine one day someone will see the km/MJ value without the accompanying percentage and get confused.

<img width="232" alt="screen sho

[2016-01-21 14:14] RobTerwel commented on #784
I think this is a better implementation than my initial suggestion, @antw ! I like it very much. Could you instead of just car_kms

[code]
also put truck_kms and shipping_kms and remove the multiplication with 100.0 (our cars are not that good yet :wink: )
[code]
(in correct notation, not sure if the above is), since the slots with these output carriers all have physical efficiencies of km/MJ?

[2016-01-21 14:18] antw commented on #784
x100 is because the "raw" slot conversion value is a fraction (0.5 instead of 50%). [We do the same with the percentage value](https://github.com/quintel/etengine/blob/0cc7a5237ed38b85a97a9a8785c6857f41b62b0d/app/views/data/converters/_converter_links.html.haml#L40).

[2016-01-21 14:24] RobTerwel commented on #784
Exactly, but in this case this fraction is precisely what we're after: `transport_car_using_electricity` has an efficiency of 1.5385 km/MJ (not 153.85 km/MJ or 153.85%). The ETSource attribute `output.car_kms` (and the same holds for `output.trucks_kms` and `output.shipping_kms`) is given in km/MJ (which is the "raw" slot conversion value). Therefore, there is no need to apply  x100 anymore.

[2016-01-21 14:25] antw commented on #784
:+1:

[2016-01-21 14:40] #784 closed

[2016-01-27 11:13] jorisberkhout commented on #762
Superseded by https://github.com/quintel/etmodel/issues/1964 and fixed. Closing.

[2016-01-27 11:13] #762 closed

[2016-01-29 12:53] jorisberkhout commented on #796
@grdw, what is the status of that search? Would you have time to pick this up?

[2016-01-29 12:56] jorisberkhout commented on #756
Assigning @grdw .

[2016-01-29 12:57] grdw commented on #796
Pretty much over. It's possible to [download](https://github.com/quintel/etmoses/blob/master/app/controllers/topologies_controller.rb#L65-L79) an SVG as a PNG.

[2016-01-29 12:58] jorisberkhout commented on #796
Would it be possible to implement something similar in ETEngine?

[2016-01-29 13:27] grdw commented on #756
Is this in relation with scaling? If so, to how many residences should I scale? I've chosen 50 but I don't get the same result as your 'testing ground'.

[2016-01-30 14:58] antw commented on #796
SVG download was added a month or two back. Go to the layout page, wait for the graph to load, and you should see this:

![screen shot 2016-01-30 at 14 52 05](https://cloud.githubusercontent.com/assets/4383/12696377/3b27117c-c761-11e5-9c93-dab3c2d45ea9.png)

Is PNG really needed? I'd prefer not to have to add RMagick to ETEngine just for this feature unless it were truly necessary.

[2016-02-01 07:37] jorisberkhout commented on #796
@dennisschoenmakers , as you raised this issue, can it be closed?

[2016-02-01 07:48] dennisschoenmakers commented on #796
Yes, it can be opened and edited in Illustrator.

[2016-02-01 07:48] #796 closed

[2016-02-01 12:31] antw opened #820 "Users are logged out every time ETEngine is deployed"
^^

Not a new problem, but it's annoying.

[2016-02-04 12:44] jorisberkhout commented on #814
How urgent is this, @ChaelKruip and @RobTerwel . I prefer removing it from the deploy milestone.

[2016-02-04 13:02] RobTerwel commented on #814
Hmm... it is a bug, but the max error in efficiency it could give is about 1.3%. This is because the weighted average in the present is 1.0125585754451745 (for min insulation) and converges to 1.0 (for max insulation). Therefore, if the present value is static (which it is now), the max. deviation is quite small.

I also don't know how much work a fix for this would be, but I think it's safe to sa

[2016-02-04 13:32] jorisberkhout commented on #756
Not deploy critical, removing milestone.

[2016-02-04 13:57] ChaelKruip commented on #814
Yes!

[2016-02-04 13:57] jorisberkhout commented on #814
Removing milestone then.

[2016-02-04 14:47] ChaelKruip opened #822 "How to feed hydrogen into the gas-network"
P2G creates a certain amount of hydrogen which we want to 'pump' into the gas-network. In the graph this means that the P2G node is right of the gas-network:
![etengine_dev_data_latest_layout](https://cloud.githubusercontent.com/assets/1303760/12818203/1acc0a24-cb56-11e5-9670-de79e20c3746.png)

I tried to use a `reversed_flexible` edge similar to power plants but that does not seem to work, though

[2016-02-04 14:48] ChaelKruip commented on #822
You can view the work in [the flexibility branch](https://github.com/quintel/etsource/tree/flexibility)

[2016-02-04 14:52] antw commented on #822
Will look into it now.

[2016-02-04 15:35] grdw opened #823 "Merit::MissingLoadProfileError: /var/www/etengine/releases/20160204145936/tmp/etsource/datasets/nl/load_profiles/curtailment.csv is not known. Please add."
https://quintel.airbrake.io/projects/35333/groups/1613093128873467531/notices/1613093123761157710

[code]

Problem arises from Jeroen van der Logt's LES on etmoses beta.

[2016-02-04 15:36] antw commented on #823
Should be fixed by fb56e041.

[2016-02-04 17:39] antw commented on #822
Do the slot conversions not [come from Atlas+Refinery](https://github.com/quintel/etengine/blob/3cda4b839e4f179a88fab3f639731893fae5bd3b/app/models/etsource/dataset/import.rb#L206-L208) and then get updated by a "share of green gas" input? The only exception to this is elastic (loss) slots.

The only solution I can think of is to special-case P2G and (re-)calculate the slot conversions after merit

[2016-02-05 07:01] ChaelKruip commented on #822
Perhaps I am not understanding this correctly but I don't see how slot conversations need to be dynamic. Couldn't we do the same as with power plants? Keep all conversations fixed but adjust the energy flow through the node?
With power plants, the number of units and full load hours determine production but for p2g the total input of electricity determines production. So I would expect we require

[2016-02-05 08:24] dennisschoenmakers commented on #495
Still relevant, @antw?

[2016-02-08 14:40] jorisberkhout commented on #822
Moved to storage milestone.

[2016-02-08 14:41] jorisberkhout commented on #783
Removed milestone as this is not deploy critical.

[2016-02-09 12:23] jorisberkhout commented on #822
As discussed, this proved to be harder than expected. We decided to go for an alternative approach and use the hydrogen from power-to-gas in the transport sector. Therefore this issue is no longer deploy-critical; I will remove the milestone. The issue stays relevant however.

[2016-02-09 12:37] jorisberkhout commented on #781
This is still very relevant, but not deploy-critical as all flexibility related demands are currently zero in the start year. I will remove the milestone and assign myself.

[2016-02-09 12:42] jorisberkhout commented on #806
The P2H part of this is closed. The (temporary) approach for P2G is described in https://github.com/quintel/etmodel/issues/1966#issuecomment-181845948. Closing this issue.

[2016-02-09 12:42] #806 closed

[2016-02-09 16:22] #823 closed

[2016-02-10 08:57] ChaelKruip opened #825 "QUESTION: Do we need to implement physical input and output efficiencies?"
So far, it has not been relevant to distinguish between input and output efficiencies. The only thing that matters has been the efficiency of an energy flow through a converter. If a heater has an efficiency of 80%, the `output.heat` can be set to be 0.8 and all is well.

With P2P, it become relevant to talk about the input (charging) efficiency and the output (discharging) efficiency.

Looking at

[2016-02-10 09:06] dennisschoenmakers commented on #825
Good point.

For which other nodes would this be relevant?

[2016-02-10 09:11] ChaelKruip commented on #825
Electric vehicles, which are also batteries in a sense. And perhaps pumped storage if we are going to use that at some point. Storage options in short :smile:

[2016-02-10 09:19] dennisschoenmakers commented on #825
[code]

Would we need to update (all) the other nodes accordingly, or would this be optional for only the (few) storage nodes?

[2016-02-10 09:21] antw commented on #825
Yes it is.

I agree that `efficiency = 0.89` is easier to understand than `conversion = 1 / 0.89`. It could be especially confusing to newcomers since *output* efficiencies don't need the `1 / x`.

I'm not sure how keen I am on having two separate attributes for describing the same thing, especially since input `conversion` does make sense for most other nodes (where they describe the *share* of i

[2016-02-10 09:29] ChaelKruip commented on #825
I agree.

I have been thinking along these lines as well. Let's add it to the long list of things we could do with sub-graphs :smiling_imp:

[2016-02-10 09:30] dennisquintel opened #826 "Perhaps this will speed up our production server?"
https://www.hetzner.de/en/hosting/produkte_rootserver/dx151

Relevant since the Merit Order is now on by default.

[2016-02-10 09:32] dennisschoenmakers commented on #826
What do you think @antw?

### CPU

Single Intel® Xeon®
E5-2600 v3 @ 2.40GHz Octa-Core incl.
Hyper-Threading Technology

### RAM

RAM64 GB DDR4 ECC RAM
optional max. 192 GB
(at additional cost)

### SSD (optional)
240 GB 6 Gb/s SSD DC Edition

[2016-02-10 09:33] ChaelKruip commented on #826
Also relevant for ETMoses?

[2016-02-10 09:51] antw commented on #826
Lets look into some benchmarks after the deploy. A *quick* first look suggests that the single core performance of the E5-2630v3 isn't any better than the E3-1270v3 we already use. Single core performance is (unfortunately) what matters for us.

[2016-02-10 15:11] dennisschoenmakers commented on #825
OMG you're so evil :smile:

[2016-02-17 09:41] grdw opened #828 "Expand ETEngine API for ETMoses to question the attributes for technologies dynamically"
Right now the attributes we query for ETMoses are defined [here](https://github.com/quintel/etengine/blob/master/app/models/api/v3/converter_stats_presenter.rb#L4-L17). However as @ChaelKruip and I noticed yesterday, a lot of those don't make any sense to even question in the first place on a per technology basis. It's incorrect from a physics-perspective and semantically a bit skewed from an IT p

[2016-03-22 09:06] RobTerwel opened #829 "Input capacity methods return incorrect values for P2P storage techniques"
### Background

The `input_capacity` of a converter is defined in <a href="https://github.com/quintel/etengine/blob/master/app/models/qernel/converter_api/cost.rb#L28-L36"a>cost.rb<a/> as follows:

[code]

which means (to my understanding) the engine fetches the first of these `input_capacities` it can find or calculate and returns zero otherwise.  The first three (`electric_based_input_capacity`,

[2016-03-22 14:14] ChaelKruip commented on #829
Thanks @RobTerwel for looking into this and your clear account of the situation. I am not yet certain if the above really is a problem because of the following: the P2P node is **not** used by ETEngine in the usual sense. I mean that the node is chiefly a placeholder for cost data but does not participate in the *yearly* energy calculation. This would not make sense because the energy 'demand' of

[2016-04-05 09:07] dennisquintel opened #831 "[Airbrake] Test issue created from Airbrake"
Test issue created from Airbrake

[2016-04-05 09:08] dennisschoenmakers opened #832 "[Airbrake] 845: NaN not allowed in JSON"
**Airbrake error:** [#7882](https://quintel.airbrake.io/projects/32233/groups/1657110342408247882)
**Airbrake project:** ETE

**Error type:** `JSON::GeneratorError`
**Error message:** `845: NaN not allowed in JSON`
**Where:** `api/v3/scenarios#update`
**Occurred at:** Apr 05, 2016 09:03:13 UTC
**First seen at:** Apr 05, 2016 09:02:26 UTC
**Occurrences:** 28 (0 since last deploy on `<no information

[2016-04-05 09:10] dennisschoenmakers commented on #832
Hey Anthony, could you check this out? Someone playing with our API and triggered this error, or...?

[2016-04-05 09:54] #832 closed

[2016-04-05 10:00] antw commented on #832
The fix is on its way to staging, and I'll cherry-pick it to production since that's where the error was raised.

[2016-04-05 10:04] antw commented on #832
The cause, by the way, was that the scenario in question set all the cost sliders to -100%. This will have resulted in a division-by-zero in the cost gqueries used by the charts.

<img width="463" alt="screen shot 2016-04-05 at 10 28 00" src="https://cloud.githubusercontent.com/assets/4383/14278078/cf06d360-fb1d-11e5-9054-d4e6e5e60263.png">

[2016-04-05 18:26] dennisschoenmakers commented on #832
![](https://media.giphy.com/media/wEZUqNBMl9r7q/giphy.gif)

[2016-04-11 02:41] dennisquintel opened #833 "[Airbrake] [Production] Failed to calculate start value for policy_sustainability_renewable_percentage input, with error: stack level too deep"
**Airbrake error:** [#8226](https://quintel.airbrake.io/projects/32233/groups/1661267347217748226)
**Airbrake project:** ETE

**Error type:** `Input::InputGQLError`
**Error message:** `Failed to calculate start value for policy_sustainability_renewable_percentage input, with error: stack level too deep`
**Where:** `api/v3/inputs#index`
**Occurred at:** Apr 11, 2016 02:41:40 UTC
**First seen at:**

[2016-04-18 11:17] ChaelKruip commented on #706
@antw can you make an estimate of how much time would be needed?

[2016-04-25 08:32] dennisschoenmakers opened #835 "Migrate Ameland and IABR (beta) scenarios to presents in production"
* Ameland scenario: https://beta-pro.energytransitionmodel.com/scenarios/515530

* AIBR routekaart 2034: http://beta.pro.et-model.com/scenarios/519784

For this we'll need to migrate all the special inputs created by @AlexanderWirtz from ETSource staging to production as well

[2016-04-25 15:10] jorisberkhout commented on #835
As discussed with @dennisschoenmakers after consulting @RobTerwel , I think it is best if we do a full deploy instead of cherrypicking the 'special inputs' from Beta to Live. Other than these special inputs and the move to `https://` (which has already been deployed to Live), not a lot has happened. This full deploy should **not** include the merit order charts that @grdw is currently creating.

I

[2016-04-25 20:38] AlexanderWirtz commented on #835
Will need to migrate the GEA scenarios as well. They do not need presets, though, so no extra work

[2016-04-26 07:07] jorisberkhout commented on #835
Can you give me a pointer to those scenarios, @AlexanderWirtz ?

[2016-04-26 07:08] AlexanderWirtz commented on #835
I can, but I can migrate them fine myself, as long as the required etsource commits are deployed to live.

[2016-04-26 08:24] grdw opened #836 "Fix correct translations for output element series merit order"
I'm currently busy with the stacked hourly supply chart for merit. However, there are 56 participants so there are 56 chart labels that need to be translated to Dutch and correctly written in English.

The thing is, I have no idea what to call each one and to do it together manually by hand and typing everything over is a bit of waste of time. I'd rather assign this to someone who actually knows w

[2016-04-26 08:25] #836 closed

[2016-04-26 08:25] grdw commented on #836
Wrong repo :sweat_smile:

[2016-04-26 08:45] jorisberkhout commented on #835
As mentioned by @antw in quintel/etsource#1109 it is not currently possible to create a preset for a scaled scenario. How badly to we want this, @dennisschoenmakers ?

[2016-04-26 10:53] AlexanderWirtz commented on #835
For our scales scenarios (GEA and IABR) this is not a must.

[2016-04-29 08:50] dennisschoenmakers opened #837 "dashboard url not working anymore on etengine production?"
This is needed for quintel/etcentral#141.
### Log

[code]

[2016-05-03 13:39] antw commented on #495
A little late to the party, but... I *think* it is relevant, especially in light of the merit order now being enabled by default. However I don't see any way to integrate the demands of merit order participants *without* recalculating the whole graph.

There are probably smart solutions to this, such as finding all ancestors and descendants of the participants and recalculating only those, but the

[2016-05-03 14:28] antw commented on #828
Yes! I think it would be good to specify the attributes on a per-converter basis:

[code]

However, the attribute names **must** be whitelisted before `public_send`'ing anything; we don't want anyone requesting the `exit`attribute.

[code]

[2016-05-04 07:49] ChaelKruip opened #838 "QUESTION: does the primary_demand_of method depend on link-groups?"
In the context of https://github.com/quintel/etmodel/issues/2110 I seem to remember that the [primary_demand methods](https://github.com/quintel/etengine/blob/master/app/models/qernel/recursive_factor/primary_demand.rb) had some relation to the link-groups defined for edges.

This seems to be confirmed by the observation that adding a [compressed_network_gas edge to the `final_demand` link-group](

[2016-05-04 10:16] jorisberkhout opened #839 "`V(energy_import_natural_gas, demand)` returns different demand than shown in graph"
While looking into https://github.com/quintel/etmodel/issues/2110, I noticed that there is an inconsistency between the demand returned by `V(energy_import_natural_gas, demand)` and the demand for the `energy_import_natural_gas` as shown in the graph.

For scenario `525457` on the Beta server the converter page looks like this

<img width="1423" alt="screen shot 2016-05-04 at 12 14 53" src="https:

[2016-05-04 10:19] jorisberkhout commented on #839
The number shown in the graph (`1,536.82 B`) is the correct one. I checked this by adding all final demand for network gas, all inputs of network gas for transformation processes and the treatment losses to go from from natural gas to network gas. This sum results in `1,536.82 B`.

[2016-05-04 11:31] jorisberkhout commented on #839
Never mind, I'm being thick here!

I thought it was enough to paste the scenario id in the url of ETEngine (as in, replace `latest` by `<scenario id> `). I now realise that you also (or only) need to select the scenario from the drop-down menu. This solves the inconsistency mentioned in the original post of this issue.

Closing this issue, but the hunt continues in quintel/etmodel#2110.

[2016-05-04 11:31] #839 closed

[2016-05-10 10:29] grdw commented on #835
The production scenarios are:

IABR: https://pro.energytransitionmodel.com/scenarios/291793
Ameland: https://pro.energytransitionmodel.com/scenarios/291787

Both scenarios belong to Alex's user.

[2016-05-10 11:22] jorisberkhout commented on #835
The local scenarios are now available on the Live server. Closing this issue

[2016-05-10 11:22] #835 closed

[2016-05-12 09:07] jorisberkhout commented on #838
The issue discussed in quintel/etmodel#2110 has been solved.

It would still be interesting to know the answer to the question in this issue.

[2016-05-12 19:34] antw commented on #838
The primary demand methods do look for a `primary_energy_demand` group on *converters/nodes* (the [calls to `primary_energy_demand?` here](https://github.com/quintel/etengine/blob/5e2f6fe33eff64fd4dc0e4e0d1330ca4eb33ac07/app/models/qernel/recursive_factor/primary_demand.rb#L63-L93), but I don't recall (nor can I find) any relation in the ETEngine code between primary demand and the `final_demand`

[2016-05-17 12:16] antw opened #840 "Initialize graph plugins lazily"
Accessing the FCE plugin in an `UPDATE_FCE` expression should not cause the merit order plugin to be initialized.
- `Graph#plugin` / `Lifecycle#plugin` should set up only the requested plugin
- `Lifecycle#plugins` should set up all plugins which haven't already been initialized.

This should help avoid future problems like quintel/etmodel#2116.

[2016-05-20 08:24] dennisschoenmakers opened #842 "It should be possible to create a scaled scenario-preset"
See e.g. quintel/etmodel#2115 for why.

[2016-05-23 13:07] grdw opened #843 "Importing the result of a converter calculation."
In relation to PR #841, is it possible to import the result of a converter calculation instead of an converter attribute? For instance: `fixed_cost_per(:plant)` or should this be done in another fashion?

[2016-05-23 13:38] antw commented on #843
That's a reasonable thing to want to do. Given the need to whitelist permitted attributes, you could kill two birds with one stone:

[code]

The alternative would be to only permit attributes/methods which don't accept an argument, and get that data via a Gquery. But that seems long-winded.

[2016-05-27 13:31] jorisberkhout commented on #838
Can this be closed, @ChaelKruip ?

[2016-05-27 13:49] #838 closed

[2016-05-30 11:13] ChaelKruip opened #844 "marginal costs for heating technologies does not return a (correct) number"
Currently, we [calculate marginal costs](https://github.com/quintel/etengine/blob/master/app/models/qernel/converter_api/cost.rb#L153-L171) for electricity producers only.

For the heat network calculation in ETMoses, the marginal costs of heat producing technologies and of technologies that produce both heat and electricity (also see https://github.com/quintel/etsource/issues/236#issuecomment-209

[2016-05-30 11:20] ChaelKruip commented on #844
To specify the `variable_costs_of_heat_per_typical_input` further:

[code]

where the factor `(heat_efficiency / (heat_efficiency + electrical_efficiency))` only takes that part of the costs into account which is associated with heat. Note that this method only works (and makes sense) for CHPs as they have both heat- and electrical efficiencies. NOTE: `heat_efficiency` and `electrical_efficiency`

[2016-06-01 07:49] dennisschoenmakers opened #845 "[Airbrake] [Production] (eval):1: syntax error, unexpected '<', expecting ']' [<Converter buildings_cooling_c... ^ (eval):1: syntax error, unexpected ',' ...mp_water_water_ts_electricity>, <Converter buildings_cooling... ... ..."
**Airbrake error:** [#5780](https://quintel.airbrake.io/projects/32233/groups/1698386224787395780)
**Airbrake project:** ETE

**Error type:** `SyntaxError`
**Error message:** `` (eval):1: syntax error, unexpected '<', expecting ']' [<Converter buildings_cooling_c...   ^ (eval):1: syntax error, unexpected ',' ...mp_water_water_ts_electricity>, <Converter buildings_cooling... ...

[2016-06-01 09:17] jorisberkhout commented on #845
This was caused by me trying the following Gquery
`TXT_TABLE(G(cost_traditional_heat), G(cost_heat_pumps), key)`

where I should have done 😖
`TXT_TABLE(G(cost_traditional_heat, cost_heat_pumps), key)`

Closing.

[2016-06-01 09:17] #845 closed

[2016-06-24 14:41] grdw commented on #809
@dennisschoenmakers @ChaelKruip can this be fixed with any priority, it's becoming a bit frustrating to have to restart ETEngine everytime I make an edit to ETEngine.. .

[2016-06-24 14:50] dennisschoenmakers commented on #809
No easy fix present here yet. I guess we could try to migrate to Rails 5, because that is a good idea anyways, right @antw?

[2016-06-28 09:42] jorisberkhout commented on #507
@ChaelKruip , is this (old) issue still relevant, or is it superseded by the fact that import/export is now implemented in the ETM?

[2016-06-28 10:09] antw commented on #507
Good catch; it is not relevant anymore. The "injector" has long since been replaced with the plugin system.

[2016-06-28 10:09] #507 closed

[2016-06-30 09:26] antw commented on #809
I've pushed a sort-of fix, whereby cached instances of Input and Gquery will be removed when Rails reloads. This prevents the need to restart Rails.

However, it still takes 10+ seconds to fetch all the Inputs and Gqueries from ETSource. Better than it was before, but still not ideal.

[2016-07-19 13:00] jorisberkhout commented on #533
Just checked this on the `beta-engine.energytransitionmodel.com`; works like a charm as
[code]
Closing.

[2016-07-19 13:00] #533 closed

[2016-07-19 13:03] jorisberkhout commented on #552
Seems to be working fine now. Closing.

[2016-07-19 13:03] #552 closed

[2016-07-19 15:05] grdw opened #854 "Change 'staging' branch to 'master' branch"
Everytime I make changes to ETEngine I find out that the staging branch is set to [staging](https://github.com/quintel/etengine/blob/master/config/deploy/staging.rb#L19) (which makes sense) instead of master, which is the case for any other project, ETModel and ETMoses.

Could we synchronize this? 😄

[2016-07-19 15:31] antw commented on #854
I agree. I think that's easy enough to set up in Semaphore...

[2016-07-19 15:34] #854 closed

[2016-07-20 14:47] ChaelKruip opened #855 "It would be cool to have a method for local CO2 emission"
One of our clients would like to know *where* CO2 is emitted in stead of who is responsible for primary emissions. In other words: "Where does the CO2 come out of the tailpipe, smokestack or chimney?"
We currently don't have a method to calculate this local CO2.

The closest I have come to find a solution for this is by looking up the `co2_conversion_per_mj` for specific carriers:
![energytransiti

[2016-07-26 11:20] dennisquintel opened #856 "[Airbrake] [Production] Could not find a dataset with the key "be""
**Airbrake error:** [#7538](https://quintel.airbrake.io/projects/32233/groups/1738354635822767538)
**Airbrake project:** ETE

**Error type:** `Atlas::DocumentNotFoundError`
**Error message:** `Could not find a dataset with the key "be"`
**Where:** `api/v3/areas#show`
**Occurred at:** Jul 26, 2016 11:20:10 UTC
**First seen at:** Jul 26, 2016 11:20:10 UTC
**Occurrences:** 1 (0 since last deploy on `

[2016-07-26 13:35] jorisberkhout commented on #856
I assume that `be` is for Belgium. We don't have a Belgian dataset (yet). Assigning myself to look into this.

[2016-08-02 13:25] jorisberkhout commented on #856
Un-assigning myself as can't figure out what is going on. Not critical though.

[2016-08-02 13:28] antw commented on #856
Welcome to my world. :tada:

[2016-08-02 14:43] antw commented on #856
I can't figure it out either. None of our apps refer to the `be` region, nor are there any old scenarios in the database using it. Can't find any text in ETModel which refers to the `api/v3/areas/...` addresses either.

[2016-08-02 19:55] dennisschoenmakers commented on #856
Perhaps somebody was probing for a `be` dataset? :grinning:

[2016-08-16 07:26] jorisberkhout commented on #757
Related to https://github.com/quintel/etmodel/issues/2185

[2016-08-18 08:15] RobTerwel opened #860 "Primary CO2 emission method returns unexpectedly low values in transport with new refinery modelling"
### Background

On the branch `refineries` I've integrated the production of transport fuels in the industry with the transport sector. The `useful_demand` of `useable_heat` and non-energetic `crude_oil` together are transformed into refinery products in the new node `industry_refinery_transformation_crude_oil`. The refinery products which are transport fuels are then distributed to the transport

[2016-08-18 11:57] antw commented on #860
I've pushed an ETSource branch with a possible fix; would you mind checking it out and seeing if the results are more in line with expectations?

There were two nodes/converters between `industry_refinery_transformation_crude_oil` and the source of the primary energy which had `free_co2_factor` set to 1.0. That results in all energy passing through those nodes being considered "clean", and having

[2016-08-18 12:29] RobTerwel commented on #860
Thank you, @antw , this fix helped me realise something about the processes we're modelling. I'll dig into this a bit deeper and report back my findings once I have a clearer idea of how to go about this.

[2016-08-18 12:57] RobTerwel commented on #860
Alright, here goes:

First of, I realised we probably don't have to change anything in the industry and everything can stay it is the way on the `refineries` branch. The crucial problem here, it seems, is that the primary CO2 emission method does not take into account the actual losses of consuming transport fuels anymore, on this branch. The reason behind it, I think, but please correct me if I'm

[2016-08-18 13:47] RobTerwel commented on #860
After discussing with @jorisberkhout , we came up with a more detailed and better explanation of what's going on. When the refineries produce a transport fuel (e.g. diesel), the carrier attributes are determined based on the carriers it originates from. Hence, also the `co2_conversion_per_mj` attribute is determined based on the refinery input. Since about 95% of the fuel input is non-energetic cr

[2016-08-18 14:40] antw commented on #860
It's my understanding that the *"primary"* in `primary_co2_emission` means that we're querying the CO2 emissions in producing the *original* source of the energy (in this case, the extraction or import of crude oil), accounting for losses and conversions along the way. Therefore, taking the CO2 per MJ from the diesel carrier isn't the same as the primary CO2 emission, because this energy doesn't e

[2016-08-23 15:01] ChaelKruip commented on #860
@RobTerwel and I have had a couple of insights about this which @RobTerwel will document later.

[2016-09-02 09:18] RobTerwel opened #866 "recursive_factor_without_losses method might be employed in calculations for which it shouldn't be employed"
### Background

This is a follow-up to https://github.com/quintel/etengine/issues/860#issuecomment-241760695 .

There are two `recursive_factor` methods: <a href= "https://github.com/quintel/etengine/blob/master/app/models/qernel/recursive_factor/base.rb#L3-L93">`recursive_factor`<a/> and <a href="https://github.com/quintel/etengine/blob/master/app/models/qernel/recursive_factor/base.rb#L95-L191">

[2016-09-02 09:21] RobTerwel commented on #860
The first few insights have been posted in https://github.com/quintel/etengine/issues/866 . Closing this issue.

[2016-09-02 09:21] #860 closed

[2016-09-09 10:50] dennisquintel opened #868 "[Airbrake] [Production] undefined method `to_sym' for #<Array:0x007f00a6bee760>"
**Airbrake error:** [#4107](https://quintel.airbrake.io/projects/32233/groups/1770954433335564107)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `undefined method `to_sym' for #<Array:0x007f00a6bee760>`
**Where:** `api/v3/converters#stats`
**Occurred at:** Sep 09, 2016 10:50:18 UTC
**First seen at:** Sep 09, 2016 10:50:18 UTC
**Occurrences:** 1 (0 since last deploy

[2016-09-09 10:58] dennisquintel opened #869 "[Airbrake] [Production] Converter attributes are not allowed for households_collective_chp_wood_pellets"
**Airbrake error:** [#0077](https://quintel.airbrake.io/projects/32233/groups/1770958385527560077)
**Airbrake project:** ETE

**Error type:** `RuntimeError`
**Error message:** `Converter attributes are not allowed for households_collective_chp_wood_pellets`
**Where:** `api/v3/converters#stats`
**Occurred at:** Sep 09, 2016 10:58:10 UTC
**First seen at:** Sep 09, 2016 10:58:10 UTC
**Occurrences:**

[2016-09-15 09:20] dennisschoenmakers opened #870 "[Airbrake] [Production] Could not find a dataset with the key "be""
**Airbrake error:** [#4811](https://quintel.airbrake.io/projects/32233/groups/1775257780087594811)
**Airbrake project:** ETE

**Error type:** `Atlas::DocumentNotFoundError`
**Error message:** `` Could not find a dataset with the key "be" ``
**Where:** `api/v3/areas#show`
**Occurred at:** Sep 15, 2016 09:20:17 UTC
**First seen at:** Sep 15, 2016 09:20:17 UTC
**Occurrences:** 1 (0 since last deploy

[2016-09-15 12:39] jorisberkhout commented on #870
Hmm, I wonder why this error keeps happening. I will put a first iteration of the Belgian dataset that I'm making on the Beta server.

[2016-09-15 12:40] jorisberkhout commented on #870
Closing this as it is a duplicate of #856.

[2016-09-15 12:40] #870 closed

[2016-09-15 12:59] ChaelKruip commented on #866
Thinking about this some more I am not convinced anymore that `weighted_carrier_co2_per_mj`
should be treated on equal footing with `weighted_carrier_cost_per_mj`. The latter needs to take losses into account because balsamic vinegar becomes more expensive as its watery part vaporises.  For the CO2-content of a carrier, however, it depends on what you *mean* with `content`:
- Definition 1: the CO2

[2016-09-15 13:07] ChaelKruip commented on #855
After some discussions with @RobTerwel and @jorisberkhout I am hopeful to use the `weighted_carrier_co2_per_mj` method (see also weighted_carrier_co2_per_mj) to create gqueries of the form (pseudo code):

[code]
where,
[code]
and
[code]

I am not sure if this works for carriers without any 'intrinsic' CO2 such as `electricity` and `useable_heat`.

@antw do you think the approach sketched above has

[2016-09-15 14:08] antw commented on #866
Hmm, no. This is the case for weighted carrier **cost** per MJ, but apparently not for weighted carrier **CO<sub>2</sub>** per MJ. The former will stop once it encounters a carrier with a `cost_per_mj` (or if it hits `electricity`/`steam_hot_water`), but the latter only stops when it hits the far-right of the graph (there are no more parents through which to traverse).

They both used to continue

[2016-09-15 14:19] antw commented on #866
To add:

* if **CO<sub>2</sub> per MJ** should stop when it encounters a carrier with a `co2_per_mj` defined (like cost does)... this is a trivial change.

* I don't know why the cost traversal stops when encountering electricity or steam/hot-water. The comment says: "[because electricity and steam_hot_water are calculated seperately these are excluded from this calculation](https://github.com/qui

[2016-09-15 14:29] antw commented on #855
Is `weighted_carrier_co2_per_mj` the attribute from the converter?

[2016-09-15 14:40] ChaelKruip commented on #855
In my understanding `co2_conversion_per_mj` is a carrier attribute and the `weighted_carrier_co2_per_mj` is a method of the converters (which bases its results on the recursive weighted summation of the `co2_conversion_per_mj` attributes along the paths).

[2016-09-15 14:57] antw commented on #855
It is; sorry for the misunderstand. It just looked like you were using it as an attribute or method of the slots. It is indeed a method on the converter. Could this therefore be simplified as:

[code]

That seems too simple, so maybe I'm missing something?

* What happens with converters which have a `loss` slot? Is that loss included as "output"?

[2016-09-20 11:30] ChaelKruip commented on #855
I hope that it's that simple! 😄

I think it would work if we either ignore loss or count loss as "output" with weighted_co2_conversion_per_mj == 0. What has your preference @antw?

[2016-09-20 11:31] ChaelKruip commented on #855
Perhaps we could specify a zero `co2_conversion_per_mj` in the [AD file of the loss carrier](co2_conversion_per_mj)?

[2016-09-20 12:06] ChaelKruip commented on #866
Perhaps because the cost of both heat and electricity is more complex than than just mixing the costs of carriers used to make it? For electricity we seem to use the interpretation that the cost of electricity is related to all costs of the producing technologies as can be seen in [this gquery](https://github.com/quintel/etsource/blob/master/gqueries/general/costs/costs_of_produced_electricity.gql

[2016-09-20 22:37] antw commented on #866
If you were using `TXT_TABLE`, know that it rounds numbers; I don't know why I thought that was a good idea.

You can hover your mouse over a number to see its real value, or use one of the other views (Text, CSV, or TSV):

[code]

[2016-09-21 08:34] ChaelKruip commented on #866
I was 😆 ... thanks

[2016-09-21 09:08] ChaelKruip commented on #855
@antw how can I turn the above code into working GQL?

[code]

Does not work nor does

[code]

[2016-09-21 09:33] antw commented on #855
With this monstrosity:

[code]

This will ignore energy loss when calculating the total output (I'm assuming none will have loss as *input*, so I didn't bother filtering it out there).

[2016-09-21 14:53] ChaelKruip commented on #855
Do you think it would be worth it to define new GQL methods to query 'input' and 'output' of nodes? Then we could do:

[code]

[2016-09-22 09:21] ChaelKruip commented on #855
I (finally) had a clear moment... The reason that I formulated the 'query' based on slots (and their carriers) in https://github.com/quintel/etengine/issues/855#issuecomment-247322728 is that we want to see how much CO2 comes in *contained in carriers* and subtract the CO2 that is taken out of the converter by (possibly other) carriers.

Example: Node A converts 1 PJ of oil (having CO2/PJ = 0.0755

[2016-09-22 11:41] antw commented on #855
I think this implies that all the input and output slots need a carrier with a `co2_conversion_per_mj` value? Perhaps it can be assumed that any slot without a `co2_conversion_per_mj` can use the `weighted_co2_conversion_per_mj` from the converter?

[2016-09-22 11:45] ChaelKruip commented on #855
Right.

I think it makes more sense to assign `co2_conversion_per_mj` of zero to those slots.

[2016-09-22 11:49] ChaelKruip commented on #855
Another approach (which I'm currently exploring) is to simply use:
[code]
for converters which energetically use a CO2-bearing carrier (i.e., burning stuff) and make custom queries for all exceptions (for example a converter where gas is transformed into fertiliser and non-energetic CO2 is emitted).

[2016-09-22 11:51] ChaelKruip commented on #866
I have tried to do this:
[code]
And it seems to work for some carriers. For mixed carriers such as `network_gas` I'm running into the following situation:

At the final demand level (households in this case), the `weighted_carrier_co2_per_mj` is (erroneously) zero:
![energytransitionmodel](https://cloud.githubusercontent.com/assets/1303760/18746870/2ad35b82-80ca-11e6-9e9f-a3ec1af29a9e.png)
but the

[2016-09-22 12:02] antw commented on #866
Network gas has a `co2_conversion_per_mj` defined.

**carriers/network_gas.ad:**
[- co2_conversion_per_mj = 0.0](https://github.com/quintel/etsource/blob/749c8d04d209d1a9c16e992c1c5e8abb86c5dcbe/carriers/network_gas.ad#L3)

[2016-09-22 12:18] ChaelKruip commented on #866
What nonsense! I'll remove that attribute after some consideration 😄

[2016-09-29 09:56] ChaelKruip commented on #855
Closing as this has been resolved by https://github.com/quintel/etengine/commit/7e805d85b167b77a36faa727c6211e33b9e8c11d

[2016-09-29 09:56] #855 closed

[2016-09-29 09:59] ChaelKruip commented on #866
Closing this as I think that two of the three methods are currently (after https://github.com/quintel/etengine/commit/7e805d85b167b77a36faa727c6211e33b9e8c11d) working properly.

Making a new issue for `sustainability_share`

[2016-09-29 09:59] #866 closed

[2016-09-29 10:35] ChaelKruip opened #872 "Should the sustainability share refer to primary_demand or simply demand?"
### Background

This is a follow-up to https://github.com/quintel/etengine/issues/860#issuecomment-241760695 .

There are two `recursive_factor` methods: <a href= "https://github.com/quintel/etengine/blob/master/app/models/qernel/recursive_factor/base.rb#L3-L93">`recursive_factor`<a/> and <a href="https://github.com/quintel/etengine/blob/master/app/models/qernel/recursive_factor/base.rb#L95-L191">

[2016-10-04 16:05] #842 closed

[2016-10-04 18:44] dennisschoenmakers commented on #842
:+1:

[2016-10-24 12:11] ChaelKruip opened #873 "Naming convention of edges should be consistent"
The naming in the edge file-name is: `parent-child@carrier.ad` but when displaying edges in the sandbox with e.g., `TXT_TABLE(LG(final_demand), key, demand, primary_demand)`

Gives:

[code]

which is `child--type--> (carrier) parent` which is very confusing.

[2016-11-04 09:41] grdw opened #877 "rake etsource:validate doesn't work"
This process returns a:

[code]

I think because `each_file` was removed some long time ago. Can this rake task be removed? Considering that atlas does most of the validation of the graph I can imagine.

[2016-11-04 09:43] antw commented on #877
Yes, I suspect this Rake task was used with the old ETSource, prior to us using `.ad` files and Atlas.

[2016-11-07 16:22] grdw opened #879 "Can you explain this code?"
I'm currently looking into scaled scenario's and how they are currently created. This piece of code struck me as odd:

[code]

Taken from [here](https://github.com/quintel/etengine/blob/master/app/models/gql/gql.rb#L101).

_Questions:_
- What is instrument?
- Does the argument imply that there's a module called `performance` with a method called `dataset_clone`?
- Where is that method?

[2016-11-07 16:40] antw commented on #879
It comes from `Instrumentable`, [on line 11](https://github.com/quintel/etengine/blob/2a2686e7263756f18d24da0729ad26367eb55910/app/models/gql/gql.rb#L11). It [logs the performance of the code executed inside the block](https://github.com/quintel/etengine/blob/2a2686e7263756f18d24da0729ad26367eb55910/lib/instrumentable.rb), and the string given to `instrument` is just a label.

The output is log/gq

[2016-11-15 13:47] grdw commented on #879
Thanks for the explanation 👍

[2016-11-15 13:47] #879 closed

[2016-11-15 16:33] ploh opened #880 "HTTP Error 500 on "Send me reset password instructions""
Go to: https://beta.et-engine.com/users/password/new
Fill in the form and submit it. Then a HTTP Error 500 is returned.

Stacktrace from the server log - looks to me like a problem with sending the email:
I, [2016-11-15T17:23:28.026304 #6281]  INFO -- : Started POST "/users/password" for 77.20.10.11 at 2016-11-15 17:23:28 +0100
I, [2016-11-15T17:23:28.048728 #6281]  INFO -- : Processing by Devise:

[2016-11-15 17:23] dennisschoenmakers opened #881 "[Airbrake] [Production] 535-5.7.8 Username and Password not accepted. Learn more at"
**Airbrake error:** [#2953](https://quintel.airbrake.io/projects/32233/groups/1819712390470472953)
**Airbrake project:** ETE

**Error type:** `Net::SMTPAuthenticationError`
**Error message:** `` 535-5.7.8 Username and Password not accepted. Learn more at ``
**Where:** `devise/passwords#create`
**Occurred at:** Nov 15, 2016 17:23:41 UTC
**First seen at:** Nov 15, 2016 17:23:41 UTC
**Occurrences:**

[2016-11-15 17:57] #880 closed

[2016-11-15 17:57] #881 closed

[2016-11-17 13:23] grdw opened #883 "Another approach to creating scaled local datasets"
I've learned today from @jorisberkhout that a graph can be initialized by using only the `demands` of all converters and some values from a `<area>.ad` file. It currently doesn't work that way, but it might be a way to setup a local dataset and thus the local graph.

The idea is as follows:

1. From an existing scenario you export all the present demands from all converters to a csv/yml/ad file
2.

[2016-11-17 13:43] grdw commented on #883
@antw Me and @jorisberkhout were sort of wondering if this sounds doable?

[2016-11-17 14:10] antw commented on #883
This is similar to an idea we had some weeks back; it feels like a step in the right direction, but there is quite a big drawback to storing the demands of *all* converters. Here's a hypothetical subgraph, and we've set the demand of all the nodes somehow (ad, csv, etc):

[code]

If you want to set a custom demand for `B2`, how would we go about doing that? For the graph to still add up correctly,

[2016-11-17 14:54] grdw commented on #883
*This is me thinking out loud:*

Hmmm, [my first solutions](https://github.com/quintel/internal/tree/local-datasets/planning/projects/local-datasets#how-to-accomplish-the-desired-situation) to the local datasets are all based upon the false assumption that people are editing `etsource` directly but that's just all generated from `etdataset`. Than again what people are currently editing for a local

[2016-11-17 15:34] antw commented on #883
Shares are used when you want to split the demand of a node into two or more children (or parents). For example, here we know the demand of `B1`:

[code]

... but from this, Refinery has no way to figure out the demands of `A1` or `A2`. In the real graph, `A1` and `A2` might have their own children, and Refinery could figure out the demand from those. When that isn't possible, a "share" is needed

[2016-11-18 10:29] grdw commented on #883
Ok. I'm having an idea. We would change this interface:

![screen shot 2016-11-18 at 11 09 45](https://cloud.githubusercontent.com/assets/2676542/20426475/891120b2-ad7f-11e6-92dc-157dac60f64f.png)

and either let the user choose between preset local datasets or create a new one based on the number of residences (which would be the same interface we're currently looking at + an extra text field for

[2016-11-18 14:58] grdw commented on #883
I expanded the idea above a little bit better [here](https://github.com/quintel/internal/blob/local-datasets/planning/projects/local-datasets/README.md#idea-6-hooking-into-atlass-data-runner).

[2016-11-18 15:25] dennisschoenmakers commented on #883
The link refers to a line only containing `end`. Probably you meant another line?

[2016-11-21 22:01] dennisquintel opened #884 "[Airbrake] [Production] undefined method `start_value_for' for nil:NilClass"
**Airbrake error:** [#7202](https://quintel.airbrake.io/projects/32233/groups/1824200677985787202)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `` undefined method `start_value_for' for nil:NilClass ``
**Where:** `api/v3/scenarios#merge`
**Occurred at:** Nov 21, 2016 22:01:06 UTC
**First seen at:** Nov 21, 2016 22:01:06 UTC
**Occurrences:** 0 (0 since last deploy o

[2016-11-23 08:50] grdw commented on #883
We still have another question about:

Through a question @ploh asked. In ETModel you have a scenario which uses two versions of the graph. The present and the future. When dragging a slider you update the future.

Let's say the situation for the future is like this (in the first example):

[code]

I drag the slider at B1 resulting in:

[code]

How will `A1, A2, C1` be updated? Because this would

[2016-12-13 13:00] dennisquintel opened #885 "[Airbrake] [Production] Load profile at /var/www/etengine/releases/20161109143124/tmp/etsource/datasets/nl2012/load_profiles/agriculture_chp.csv is malformatted. It needs to contain 8760 / n points.It now has 8784 points."
**Airbrake error:** [#9475](https://quintel.airbrake.io/projects/32233/groups/1839873456768719475)
**Airbrake project:** ETE

**Error type:** `Merit::IncorrectLoadProfileError`
**Error message:** `` Load profile at /var/www/etengine/releases/20161109143124/tmp/etsource/datasets/nl2012/load_profiles/agriculture_chp.csv is malformatted. It needs to contain 8760 / n points.It now has 8784 points. ``

[2016-12-15 10:51] grdw opened #887 "Technical questions about ETEngine and it's relation with ETSource"
I am trying to understand how [this](https://github.com/quintel/etengine/blob/master/app/models/gql/gql.rb#L98) works.

I understand that a dataset is of type `Qernel::Dataset`. That contains the graph. But it's in a bit of a weird format:

[code]

But what are those keys, links to nodes? And where do these numbers come from? I'm trying to overwrite the graph ofcourse with the graph we generated i

[2016-12-15 10:59] antw commented on #887
Keys are converted to numerics by [Hashpipe](https://github.com/quintel/etengine/blob/master/app/models/hashpipe.rb). I guess the motivation was that looking up entries (which happens *a lot* in ETEngine) with a numeric key has better performance than a string.

The Qernel classes know what their numeric key is: [Converter](https://github.com/quintel/etengine/blob/48419962a8620114718e7b0eb703c72d2

[2016-12-15 11:01] antw commented on #887
FWIW: The conversion from string keys to numerics happens in [Etsource::Dataset::Import](https://github.com/quintel/etengine/blob/90ef9bc7e9ff45798b3ecd93e77bd73ffe4ef9d5/app/models/etsource/dataset/import.rb). I'm not too sure why you would need to worry about the numeric keys if you import the dataset there?

[2016-12-15 11:15] grdw commented on #887
Well , I was just probing around the code and trying to see if I could make something of it. I'm now looking at the same file though. Thanks. I'm not sure where I'm after. But I'm trying to understand how the graph is currently imported but I guess that happens in there.

[2016-12-15 11:17] antw commented on #887
Yep! All the code for importing from ETSource [is in the Etsource module](https://github.com/quintel/etengine/tree/master/app/models/etsource).

[2016-12-15 11:33] dennisquintel opened #888 "[Airbrake] [Production] undefined method `key' for nil:NilClass"
**Airbrake error:** [#9856](https://quintel.airbrake.io/projects/32233/groups/1841279096200269856)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `` undefined method `key' for nil:NilClass ``
**Where:** `data/gqueries#show`
**Occurred at:** Dec 15, 2016 11:32:52 UTC
**First seen at:** Dec 15, 2016 11:32:52 UTC
**Occurrences:** 0 (0 since last deploy on `<no informati

[2016-12-19 09:53] grdw opened #889 "Loading a graph from a yaml file"
This friday I was busy trying to import the graph from a YAML file as is visible [here](https://github.com/quintel/atlas/pull/64/files) (this is till work in progress). However, I'm having some issues loading that graph into ETEngine. I tried to do it very simple (and a bit hacky) in the `calculate!` step of the `AtlasLoader`:

[code]

However this produced some very weird unpredictable errors. Co

[2016-12-19 11:25] antw commented on #889
Can you be more specific about what errors you received?

[2016-12-19 11:37] grdw commented on #889
Yes I will be. But first I have a different error which prvents me from showing the actual error 😅 .. which is the one I posted in the local_datasets slack group

[2016-12-19 13:00] antw commented on #889
I wonder if the responsibility for this could be delegated to Atlas, so that ETEngine doesn't have to know that there's a difference between "full" and "derived"? (except for the area.json response)

For full datasets, [`Atlas::Runner@calculate_rubel_attributes!` maps values from CSV files onto the graph](https://github.com/quintel/atlas/blob/master/lib/atlas/runner.rb#L42). For derived datasets,

[2016-12-19 13:06] grdw commented on #889
[code]

This is the bottom of the stack.

[2016-12-19 13:06] grdw commented on #889
So what happens is that `rails` just quits, but I'm not sure why.

[2016-12-19 13:10] antw commented on #889
I can take a look; how can I reproduce this myself? Are the branches and ETSource data on GitHub?

[2016-12-19 13:58] grdw commented on #889
I investigated some more:

The first line in the stacktrace that causes the whole crash is:

`app/controllers/api/v3/scenarios_controller.rb:162:in `new'`

Which trickles down to the performing to the `perform_gqueries!` method in the `ScenarioUpdatePresenter` which is now causing the 'boom'.  :thinking:

[2016-12-19 14:03] grdw commented on #889
To reproduce:

[code]

I'm guessing that that's the setup.

[2016-12-19 16:14] grdw commented on #889
I missed a comment but this sounds doable. 👍

[2016-12-19 18:09] antw commented on #889
It looks like Refinery [gets caught in an infinite loop](https://github.com/quintel/refinery/blob/8cc81e91f2a7c7546f6c227208899eda8921a6e9/lib/refinery/slot.rb#L94) trying to figure out the share of a slot. Since the full-size datasets are fine, I *guess* that some part of the graph isn't set up correctly by GraphToYaml, but I'm not sure what.

I think perhaps it's worth trying [my suggestion](htt

[2017-01-03 08:37] grdw commented on #889
Duplicate issue of https://github.com/quintel/atlas/issues/69

[2017-01-03 08:37] #889 closed

[2017-01-03 08:37] #887 closed

[2017-01-03 08:50] #883 closed

[2017-01-09 10:51] grdw opened #895 "Initializer inputs; when should they be applied?"
@antw We're currently trying to implement the initializer inputs. We're able to set the demand of a certain 'converter' and that seems to work.

*What I found out technically:*
The `Gql::Gql` object is used when `gql(..)` is called on a `Scenario`. When calling that the first time [?] the datasets are intitialized, the user values applied and the graph is than calculated; much like you specified [

[2017-01-09 13:56] antw commented on #895
I think the way you're doing it is perfectly fine. Performing the inputs before the graph is cloned probably isn't worth the added complexity.

[2017-01-10 08:45] grdw commented on #895
That makes sense 👍

[2017-01-11 16:13] ploh opened #896 "Derived datasets: Fix scaling of input ranges"
In some cases the input ranges are not adjusted for the smaller values, e.g.:

![image](https://cloud.githubusercontent.com/assets/768025/21855908/57e8512e-d820-11e6-84a6-322980e26d38.png)

In this example the range should be [relative to the current number](https://github.com/quintel/etsource/blob/9e497c279596ab1f2157180b675e6e0759fdb95b/inputs/demand/households/households_misc/households_number_

[2017-01-11 17:10] ploh opened #897 "Derived datasets: Setup automated integration tests"
To check the correctness of the creation, scaling and loading of a derived dataset, create a `rake test:derived_datasets` task that does the following:
1. Execute `rake scale` in the etsource directory
1. Prepare a gql runtime each for the new derived dataset and its base dataset (similar to how `rake gql:check:gqueries` does it)
1. Run all gqueries on both gql runtimes (similar to how the [`check

[2017-01-11 17:36] ploh commented on #897
@antw @grdw @ChaelKruip Do you think that this is a good test setup for the core derived datasets components?

[2017-01-12 07:24] ploh commented on #895
Reopened because this is not yet clear to me. :blush:

The initializer inputs will be set in etsource in derived_dataset.ad files. These could certainly be applied before the clone, could they not?
Another thing is that the researchers will want to quickly see the result of trying some new inputs, but that will be done as it is today, with a scenario's user_values. And once they are satisfied with

[2017-01-12 08:47] grdw commented on #896
I think that this is something which I could manage to do. Considering this a rather high priority problem. I already know in which bits of the code this occurs and how this works therefor I assigned myself to this issue.

[2017-01-12 09:00] ChaelKruip commented on #897
I think that we should consider this a nice-to-have for now. The estimated time for the deliverables in https://github.com/quintel/atlas/issues/78 (far) exceeds the time we can realistically spend on this project.

[2017-01-12 12:07] antw commented on #895
The reason I think this won't work is that a user may want to change the value of an initializer input when editing in ETModel. Perhaps you decide that there aren't enough wind turbines in the Ameland dataset, so you might load up a new scenario using the `ameland` dataset, and change the initializer input (with a slider) for wind turbines. When satisfied, I guess you'd copy/paste the updated init

[2017-01-12 12:39] ploh commented on #895
With our current (after the clone) implementation for applying the init. inputs the result would also be 93.5.
And maybe that is a good thing... it should be the case that a scenario's user_values are applied _on top_ of the init. inputs rather than _instead_ even if referencing the same input.ad (which should, on the other hand, rarely happen).
For tweaking a derived dataset this might be not ide

[2017-01-12 12:48] antw commented on #895
I don't see why? If the visitor provides a different value for the initializer input (-15% instead of +10%), why would the new value not simply overwrite the one defined in the derived region, with the init. input being executed with the new value instead?

@AlexanderWirtz's point was that he wants sliders in ETModel so that researchers can modify the *initializer* inputs as if they were a "normal

[2017-01-12 12:59] #877 closed

[2017-01-12 13:05] ChaelKruip commented on #895
Perhaps I'm speaking before my turn here but I think that would be a 3.0 version of the scenario scaling functionality. At the moment (MVP), it is important that the researcher:
* can override default values (from a scaled NL dataset) for demand of nodes etc. in Excel with well documented sources.
* those overrides are communicated to the *present* graph of the local dataset

The user should then

[2017-01-12 13:14] antw commented on #895
The impression I got was that so long as init. inputs cannot be easily tweaked in the front end, researchers won't be able to move on from their current technique of using `present` and `both` inputs. Which kinda means that init. inputs in their current form won't be used by anyone? It's probably *me* misunderstanding the priorities, so I'll let @AlexanderWirtz speak for himself. :wink:

Even so,

[2017-01-12 13:31] ploh commented on #895
Because we do that in a new method [`apply_initializer_inputs`](https://github.com/quintel/etengine/pull/894/files#diff-cbbcb93ada622f63d53fa15c3dce452aR337) which is called inside [`init_datasets`](https://github.com/quintel/etengine/pull/894/files#diff-cbbcb93ada622f63d53fa15c3dce452aR245). And this runs [_before_ `update_graphs`](https://github.com/quintel/etengine/pull/894/files#diff-cbbcb93ad

[2017-01-12 15:50] AlexanderWirtz commented on #895
I am not sure I follow this discussion anymore. @antw I may have said this, but I feel as if the conversation we had about the local datasets solution was quite a while ago and i have no idea wich of the many solutions is actually being implemented. Sorry guys, but I am pretty lost when it comes to this project.

[2017-01-12 16:51] ploh commented on #895
Yes, we would... if the user did provide an *init. input*...

... but that is exactly the point: The user provides only `user_values`, not _init. inputs_.

Imagine your example with the wind turbines:
The slider for the wind turbines percentage would be set to zero when creating a new scenario based on the derived dataset - it would look very strange if the blank scenario started with anything els

[2017-01-12 16:51] ploh commented on #895
@AlexanderWirtz Let me get you up to speed next week!?

[2017-01-17 14:46] #896 closed

[2017-01-19 16:07] ploh opened #901 "Derived datasets: How to deal with typical_input_capacity, electricity_output_capacity?"
In the [ETE scenario scaling](https://github.com/quintel/etengine/blob/74cb7289d849b411b815a588f38a63b35e28d659/app/models/scenario_scaling.rb#L138) the values of node attributes `typical_input_capacity` and `electricity_output_capacity` are never scaled - which seems to be [right in most cases](https://github.com/quintel/atlas/pull/73#issuecomment-270854806), except for the nodes [`energy_export_

[2017-01-19 16:07] ploh commented on #901
cc @grdw

[2017-01-19 16:28] ChaelKruip commented on #901
For me this is of lesser priority either way (so option 1 is acceptable). The reasons are that
* interconnectors are not that realistic/meaningful for scaled scenarios anyway
* the user can decrease the interconnector with the sliders after scaling if needed

[2017-01-19 16:48] ploh commented on #901
It does, however, seem to influence other gqueries as well.

:+1:

[2017-01-19 16:49] ploh commented on #901
Relates to #80 - although solving that is probably _not_ gonna solve this automatically.

[2017-01-20 07:57] ChaelKruip commented on #901
Which ones? This might tell me if it's important or not.

[2017-01-20 08:51] grdw opened #902 "Scaling of derived scenarios"
Follow up from https://github.com/quintel/etmodel/issues/2328

----

**Use cases:**

*1. Using a derived dataset for a scenario*
1. I select Ameland with a number of residences of 1000.
2. I drag the `number_of_residences` up to 1200.
3. My scaling factor should be (1200 / ~7.000.000) = 0.0001714285714 <sup>[1]</sup>

*2. Scaling a derived scenario*

1. I select Ameland with a number of residences

[2017-01-20 09:30] grdw commented on #902
@antw Could you shed some light on how this currently works with scaling of a scaled scenario, because on beta etmodel this seems to work great. But with a derived dataset ETModel says no and I don't know why.

[2017-01-20 10:07] antw commented on #902
It seems like the re-scaled scenario is using an incorrect base_vaule? It's using the `number_of_residences` from the scaled scenario (100) instead of the original region (1200). The base_value is [set here](https://github.com/quintel/etengine/blob/470256764853fa338a13543e272de324bd46610b/app/controllers/api/v3/scenarios_controller.rb#L95-L101). If the parent scenario has a scaler, the base_value

[2017-01-20 11:22] ploh commented on #901
https://gist.github.com/ploh/61da97c13fb12559724107eb32095b6e

This is from trial-migrating scenario 530759 (GEA QI (voor)Beeld 2050 V6).
It shows 74 GQueries having different results for the scaled scenario and the scenario based on a newly created derived dataset.

All of these differences disappear when I disable scaling the dynamically-set node attributes  `typical_input_capacity` and `electri

[2017-01-20 12:34] ChaelKruip commented on #901
I think we should not scale the interconnector capacity for now. Make sure to note this in the documentation though!

[2017-01-23 14:11] ploh opened #904 "Derived datasets: Bug in migration of "present" user_values"
When migrating an existing scaled scenario (ID 530759) to a new derived dataset + new scenario based on the dataset, I tried moving all the "present" user_values into new initialiser inputs.
This should work since for each one there is a corresponding "future" user_value which should overwrite the change. But for some reason I get a lot of differing gquery results with this.
It works if I restrict

[2017-01-23 14:12] ploh commented on #904
Including @grdw @ChaelKruip @antw

[2017-01-23 14:12] ploh commented on #904
I am trying to find out which user_values exactly are causing the problem, now.

[2017-01-23 14:28] ChaelKruip commented on #904
@AlexanderWirtz is this expected behaviour?

@ploh could it be that the offending inputs are the those which gave @grdw a headache last week: https://github.com/quintel/etmodel/issues/2324

[2017-01-23 14:37] AlexanderWirtz commented on #904
@ploh: maybe a stupid question, but how about all the `_both` user_values? Shouldn't these be initialiser inputs as well?

[2017-01-23 14:38] AlexanderWirtz commented on #904
@ChaelKruip I probably need to know a bit more before I can answer that.

I am curious what this means exactly

[2017-01-23 19:55] ploh commented on #904
Good idea. But if it is the same inputs, then only coincidentally. The `share_group` is not used for initializer inputs at all. And for scenarios' inputs it is only evaluated when the scenario is updated via the `ScenarioUpdater`, but I do not do that in my tests.

[2017-01-23 19:59] ploh commented on #904
It means that I run _all_ gqueries from etsource and compare the results for the old and the new scenario. And there I get differences if I convert too many `present` user_values into initialiser inputs.

You are absolutely right, of course - but I am already doing that as well.

[2017-01-25 10:49] ploh commented on #904
A lot of the errors were due to a stupid mistake I made which also deleted the "future" user_values.

But after fixing that, a few _present_ user_values are still causing problems. One of these is [`number_of_agriculture_chp_engine_network_gas_present`](https://github.com/quintel/etsource/blob/ea7cc5af9be787f76df760b01f32744e77b8f561/inputs/adjust_scaling/agriculture/number_of_agriculture_chp_engi

[2017-01-25 11:23] antw commented on #904
That's possible. [Remove the `fetch` block in that method](https://github.com/quintel/etengine/blob/470256764853fa338a13543e272de324bd46610b/app/models/qernel/converter_api/capacity_production.rb#L69-L73) to prevent caching of the calculation, and see if it affects the outcome.

[2017-01-25 12:26] antw commented on #904
It occurs to me that, even if this is not the case, there *is* a problem here. If an initializer input uses a value which is cached by `fetch`, that cached value will persist even if a *normal* input would later cause it to change.

For example:

[code]

If I call `my_calculation` while executing an initializer input, the value will be remembered by `fetch`. If I later change the number of units u

[2017-01-25 12:36] ploh commented on #904
That worked :+1:

[2017-01-25 12:39] ploh commented on #904
:+1:
I will implement this. I wonder, however, why this problem never occurred before with normal user_values not correctly applying on top of each other!? Or maybe it did occur but no one noticed?

[2017-01-25 15:10] ploh commented on #904
With the fetch caching disabled during the init. inputs application, most of the inputs do not cause a problem anymore, but... there are still some that do:
[code]

These user_values still cause a problem, i.e. when I convert all the `_present` user_values into init. inputs, I get some differing gquery results (though only 50 this time, not hundreds as before).

When I convert all but one to init.

[2017-01-25 15:19] ploh commented on #904
Here are the [gquery result differences](https://gist.github.com/ploh/32e4db765f9c4177208eeb792c93bd8a)

[2017-01-25 15:35] grdw commented on #904
Do queries on `number_of_unit` influence the `share` value? This might seem like a dumb question but as far as my guesswork goes: [here](https://github.com/quintel/etsource/blob/ea7cc5af9be787f76df760b01f32744e77b8f561/inputs/adjust_scaling/transport/transport_car_using_hydrogen_share_present.ad#L7-L12) is where a couple of relatable `transport_car_*` things are updated. Maybe some queries are now

[2017-01-25 18:58] ploh commented on #904
I figured out where the problem lies. It is in [this line of the inputs](https://github.com/quintel/etsource/blob/ea7cc5af9be787f76df760b01f32744e77b8f561/inputs/adjust_scaling/transport/transport_car_using_hydrogen_share_present.ad#L10) (they ones from this share group are all similar).
I believe there are two mistakes here:
1. The use of `INPUT_VALUE(transport_car_using_electricity_share)` altho

[2017-01-26 08:34] ploh commented on #904
I think this is probably a bug in the original scaled scenario (ID 530759): There should probably be a user_value
[code]
as for the other carriers. In practice the omission of this leads to
![image](https://cloud.githubusercontent.com/assets/768025/22324505/0a60f70e-e3aa-11e6-991c-4f714412e01f.png)
for the future input shares of [`transport_useful_demand_truck_kms`](https://beta-engine.energytrans

[2017-01-26 08:35] ploh commented on #904
@AlexanderWirtz Would appreciate your thoughts on this. And on the [above comment](https://github.com/quintel/etengine/issues/904#issuecomment-275199374).

[2017-01-26 12:24] #895 closed

[2017-01-26 14:35] ploh commented on #904
Discussions earlier today with @AlexanderWirtz:
- The above 0.09% is probably a mistake. There should have been a future input as well.
- The above (about the `transport_car_...` shares) really seem to be errors in the inputs' queries, at least on first thought.

[2017-01-26 14:36] #902 closed

[2017-02-01 11:33] ploh commented on #904
Mistakes in inputs are being solved in quintel/etsource#1223

Mistake in old Gea scenario 530759 is too minor to be solved.

Remember the encountered problems with `number_of_cars` and other _present-only_ inputs when migrating Paddepoel (quintel/etmodel#2319).

Close this now  :wink:

[2017-02-01 11:33] #904 closed

[2017-02-01 16:10] ploh opened #909 "Diff for original vs scenario's graph"
As part of the discussion in quintel/atlas#74 the idea came up to

[2017-02-04 12:13] ploh opened #910 "Scaled scenarios bypass Input cache"
For scaled scenarios, the `Input.cache` is [always bypassed](https://github.com/quintel/etengine/blob/6425fb86b6dd3242931b863d988485f013001073/app/models/input/scaled_inputs.rb#L22). This might impact performance and it also leads to wrong results:

When [warming up](https://github.com/quintel/etengine/blob/6425fb86b6dd3242931b863d988485f013001073/app/models/input/cache.rb#L45) the `Input.cache` f

[2017-02-04 19:55] ploh commented on #901
@ChaelKruip I would suggest to re-enable scaling of the interconnector capacity in `Atlas::Scaler`, since it gives the more correct solution. The price is some inconsistency with ETE scaled scenarios, but that does not seem to bad a problem anymore: Only Paddepoel is proposed for migration now, and even there it is probably ok if the outcome is a little different from what it is now - especially i

[2017-02-04 20:54] antw commented on #910
No I don't believe that they should. Unfortunately I don't see how we can enable caching of input values for scaled scenarios since there are an effectively infinite number of possible variations (region, disabled sectors, scaling amount) and we'd likely end up with caches full of unnecessary values.

The impact on performance is non-negligible (150ms for a cached, full-size scenario vs 900ms for

[2017-02-06 09:23] ChaelKruip commented on #901
I'm confused now... Did your earlier comment say that *disabling* the scaling of interconnector capacity solved the differences?

[2017-02-06 10:12] ploh commented on #901
Yes, that is correct. But I think we should rather aim for correctness of the new system than for zero differences against the old system. And in this case the old system behaves incorrect.

[2017-02-06 10:18] ploh commented on #910
You probably already noticed, but just to make sure: It is not just a GUI problem, i.e. sliders starting in different positions, but also affects gqueries which directly depend on input_values, e.g. [etflex_households_solar_pv_installed](https://github.com/quintel/etsource/blob/9e497c279596ab1f2157180b675e6e0759fdb95b/gqueries/modules/etflex/etflex_level_2/etflex_households_solar_pv_installed.gql)

[2017-02-10 13:37] grdw commented on #768
Closing this issue because the whole interface connected to this issue doesn't exist anymore.

[2017-02-10 13:37] #768 closed

[2017-02-16 09:40] ChaelKruip opened #912 "Is the expected demand check valid for local datasets?"
![item-0_and_item-0_and_item-0_and_item-0_and_item-0_and_item-0_and_item-0_and_item-0](https://cloud.githubusercontent.com/assets/1303760/23015783/62f6057c-f434-11e6-8013-c26a9306bee6.png)

[2017-02-16 15:40] antw commented on #912
The `expected_demand` value will not account for changes made by initializer inputs. A derived dataset with no initializer inputs passes the checks:

<img width="914" alt="screen shot 2017-02-16 at 15 37 30" src="https://cloud.githubusercontent.com/assets/4383/23027985/ef5df7ee-f45d-11e6-858f-7a5ef966134d.png">

I don't think there's any way to remedy this; this page provides a sanity check that R

[2017-02-17 11:22] ChaelKruip commented on #912
I think nobody ever looks at that page but me 😆

Thanks for clearing this up @antw!

[2017-02-17 11:22] #912 closed

[2017-02-17 11:43] grdw opened #913 "Scaled scenario's population slider doesn't scale properly when loaded from /scenarios/:scenario_id"
If you load a scenario with "Open this scenario" the scaling factor is not used for the population slider (and probably others):

<img width="707" alt="screen shot 2017-02-17 at 12 41 38" src="https://cloud.githubusercontent.com/assets/2676542/23064128/7db1fa4e-f50e-11e6-96c9-e80e361c4b01.png">

<img width="451" alt="screen shot 2017-02-17 at 12 42 20" src="https://cloud.githubusercontent.com/asse

[2017-02-17 12:02] DorinevanderVlies commented on #913
Starting the local dataset and adjusting sliders is no problem.
The "mln" occurs when the scenario is saved (in the interface) and opened again

[2017-02-17 12:06] grdw commented on #913
@DorinevanderVlies yes, exactly. I managed to fix it locally fairly quick though 😅

There's a pull request up on etmodel.

[2017-02-17 12:56] #913 closed

[2017-02-17 13:16] DorinevanderVlies commented on #913
Nice

[2017-02-21 14:52] grdw opened #914 "Flushing the cache from the command line doesn't seem to work"
Last friday @AlexanderWirtz experienced a problem with his scenario on the beta server. It turns out there was some stale cache with the wrong `ndp` key instead of `noorderplatsoenbuurt` key.

I managed to find that out by performing this task from the command line:

[code]

When I performed:

[code]

The above `stats cachedump ... ` command still showed the old cache 🤔

How can this be?

Am I usi

[2017-02-21 15:04] grdw commented on #914
To add to this: I can't see the old cache anymore (with the `ndp`) but I could last friday.

[2017-02-21 15:05] dennisschoenmakers commented on #914
[code]

[2017-02-21 15:12] dennisschoenmakers commented on #914
Well, I think this isn't the problem, opening a new Issue

[2017-02-21 15:14] grdw commented on #914
It might still be a problem but I think it's unrelated to @AlexanderWirtz problems.

[2017-02-21 15:22] antw commented on #914
I'm fairly certain a list of available datasets is being retained in memory by the Ruby process somewhere (e.g. `@datasets ||= ...`), which is why it takes a restart of ETEngine for new datasets – or renamed datasets in this instance – to load. However, I can't find any obvious sign of that being the case.

Importing a new version of ETSource [is supposed to clear both the in-memory and memcached

[2017-02-21 15:28] grdw commented on #914
Hmmm 🤔

This is weird. @DorinevanderVlies just imported a new version of ETSource (with a new dataset). However the cache was still present after manually doing a:

` bundle exec cap staging memcached:flush`

The new dataset became visible. This was also the case for Noorderplatsoen.

[2017-02-21 16:39] grdw opened #915 "Use the dataset id as the 'area' attribute instead of the 'area' for a scenario"
This is to make renaming of a dataset easier.

[2017-02-21 20:31] antw commented on #915
I disagree with this insofar as the ID is a deprecated field and a remnant from the days before we had (modern) ETSource and Atlas. We left the `id` and `area` fields there because we weren't sure if any existing code depended on them, but the intention was for the area `key` to be the replacement (which is defined by the filename of the dataset) since it has the property of being human-readable a

[2017-02-22 08:55] grdw commented on #915
Well, I think that's going to change. I had to rename a dataset this friday. Also, I probably have to rename a dataset within the next two weeks. So I think it's going to happen quiet often with local datasets at least. And obviously this should be prevented.

The id field might be deprecated but maybe it should be possible to rename a dataset with the `area` attribute 🤔 . So id est, use the `area

[2017-04-05 14:48] grdw opened #916 "has_industry, has_agriculture, has_other flags should not only disable parts of the interface in etmodel but should also exclude these sectors from the graph calculation."
When setting the `has_industry`-flag to `false` in a local dataset it is still necesarry to set all demands to 0 for industry with initializer inputs. This seems a little redundant.

[2017-04-05 16:30] antw commented on #916
Can you clarify what you mean by "exclude [...] from the graph calculation"? 😆

[The DisableSectors plugin](https://github.com/quintel/etengine/blob/8a32f96a02a494cf10259c499aabdcc144fdbfdd/app/models/qernel/plugins/disable_sectors.rb) does this already by setting the demands of a disabled sector to zero. Nodes in these sectors will not be calculated since their demand has been set explicitly.

[2017-04-06 07:05] grdw commented on #916
@antw I updated the description.

[2017-04-20 12:41] antw opened #918 "Scaled derived regions have incorrect change in CO2, bio-footprint"
For example:

#### Drenthe, full-size:

![drenth-full](https://cloud.githubusercontent.com/assets/4383/25231012/1217b2b0-25ce-11e7-99a2-9f20ebd26121.png)

#### Drenthe, 1000 residences (0.47% original size):

![drenthe-scaled](https://cloud.githubusercontent.com/assets/4383/25231025/1de14764-25ce-11e7-8b05-e656fffd5597.png)

#### Drenthe, 7,000,000 residences (~3000% original size):

![drenthe-sca

[2017-04-20 12:43] ChaelKruip commented on #918
Could this be because the reference value (1990) is not scaled properly?

[2017-04-20 13:15] antw commented on #918
I think it goes beyond that. Looking at the bio-footprint query, there's a calculation of the [area footprint](https://github.com/quintel/etsource/blob/129c4526011d9ede4a99e4559d96cdc3c9cc487e/gqueries/general/area/bio_footprint.gql#L1) which looks at the [demand of converters in the "bio_footprint_calculation" group](https://github.com/quintel/etengine/blob/8a32f96a02a494cf10259c499aabdcc144fdbfd

[2017-04-20 13:21] antw commented on #918
I think this problem can be summarised more simply as:

| Full-size | Scaled to 0.47% original |
| --- | --- |
| ![screen shot 2017-04-20 at 14 19 53](https://cloud.githubusercontent.com/assets/4383/25232790/8bc59a68-25d4-11e7-9961-181ee3d76f49.png) | ![screen shot 2017-04-20 at 14 20 52](https://cloud.githubusercontent.com/assets/4383/25232800/935211a8-25d4-11e7-9513-3d8b0f3c7646.png) |

[2017-04-21 12:52] grdw commented on #918
I did a little debugging myself and found that (for instance):

This:
[code]

Returned the same value for scaled (to 1000 households) - and unscaled Drenthe. This would almost seem like the demands from the graph.yml remain unscaled when scaling for derived datasets 🤔

[2017-04-24 08:02] grdw commented on #918
I went a little further - tracking down the high increase percentage of Co2 emissions:

Query of : `dashboard_reduction_of_co2_emissions_versus_1990.gql`:

[code]

This value: `AREA(co2_emission_1990_billions)`, is actually scaled 👍 However the `Q(total_co2_emissions)` returns almost similar results for unscaled and scaled scenarios resulting in the high percentage. When looking further to the que

[2017-04-24 08:43] grdw commented on #918
I created two lists with all `primary_co2_emissions` for every carrier in the `final_demand_group`. This is the difference between the two lists(red = scaled, green = unscaled):

[code]

---

Ignoring all the industry and agriculture (since I left them out) it leaves me with this list:

[code]

[2017-04-24 09:43] grdw commented on #918
I think I've found the problem. The initializer inputs are performed after the scaling of the graph. Which means that you apply demands and units for the 'whole of Drenthe' to a scaled version of Drenthe. Which obviously makes no sense and causes the co2 to spike etc. I'll check how easy this is to fix.

[2017-04-28 08:06] dennisquintel opened #920 "[Airbrake] [Production] No route matches {:action=>"update", :api_scenario_id=>#<QueryTableCell id: 67, query_table_id: 3, row: 19, column: 3, name: nil, gquery: "Q(potential_roof_pv_production)", created_at: "2010-05-21 14:59:41", updated_at: "2010-05..."
**Airbrake error:** [#8207](https://quintel.airbrake.io/projects/32233/groups/1938294934886848207)
**Airbrake project:** ETE

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"update", :api_scenario_id=>#<QueryTableCell id: 67, query_table_id: 3, row: 19, column: 3, name: nil, gquery: "Q(potential_roof_pv_production)", created_at: "2010-05-21

[2017-05-15 10:27] #918 closed

[2017-05-18 13:52] grdw opened #922 "Menu should get a sub-menu"
![screen shot 2017-05-18 at 15 52 14](https://cloud.githubusercontent.com/assets/2676542/26205438/03003ed0-3be2-11e7-849d-12941d48dbce.png)

Electricity, cooking, cooling, lightning, gas shoud live under Households.

[2017-05-18 14:08] ChaelKruip commented on #922
Not sure what you mean by sub-menu. Would it be fair to say that we are looking for a way to make it clear to the user what the work-flow of this interface is?

In that case, perhaps it is worthwhile to zoom out a bit and consider other options to achieve that?

[2017-05-18 14:22] grdw commented on #922
Yes, but this is just a small issue detected by @BerendSmits. Not something major. We already discussed the bigger work-flow of the interface but would like to further discuss that monday.

[2017-05-18 14:42] #922 closed

[2017-05-18 14:42] grdw commented on #922
Oops, wrong project.

[2017-05-19 11:30] grdw opened #923 "Beta scenario for derived dataset doesn't load"
As seen by @jorisberkhout

Steps to reproduce

1. Open https://beta-pro.energytransitionmodel.com
2. Pick a derived dataset from the list
3. Click start

Stacktrace ETEngine beta server:

[code]

[2017-05-19 11:44] grdw commented on #923
Possible problem is that the `electric_vehicle_profile_x_share`'s are missing from the `*.derived.ad` files in ETSource.

[2017-05-19 11:47] jorisberkhout commented on #923
Most likely yes. I am testing this locally.

[2017-05-19 11:51] jorisberkhout commented on #923
That indeed seems to be the problem. Solution is in https://github.com/quintel/etsource/pull/1274

[2017-05-19 11:52] antw commented on #923
Thanks @jorisberkhout. I will add an Atlas validation to assert that each dataset has these values present.

[2017-05-19 11:54] #923 closed

[2017-06-08 14:22] ChaelKruip opened #927 "Why does more P2H increase some peaks in hot water electricity demand?"
In a [new scenario with extra wind (for excess electricity)](https://beta-pro.energytransitionmodel.com/scenarios/682908), increasing P2H does decrease the hot water demand as expected. But increasing P2H more than 80%, *increases* the first peak in the dynamic curve again! How can that be?

P2H = 80%:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_]

[2017-06-12 18:37] #927 closed

[2017-06-14 07:59] ChaelKruip commented on #910
@antw what is the status here?

[2017-06-14 10:08] antw commented on #910
I will take another look into this to ensure that it does not affect derived datasets; if it does, I expect I can fix that.

For scaled *scenarios* I think we might have to live with the problem for the time being. It's very minor, and perhaps ETLocal will end up offering a solution by replacing the scaled scenario system.

[2017-06-14 11:03] ChaelKruip commented on #829
@antw can you have a look at this?

[2017-06-14 12:29] ChaelKruip commented on #792
Closing. Re-open if this occurs again.

[2017-06-14 12:29] #792 closed

[2017-06-14 12:42] ChaelKruip commented on #756
Closing as this seems to have been solved.

[2017-06-14 12:42] #756 closed

[2017-06-14 12:54] ChaelKruip commented on #505
@antw can this be closed?

[2017-06-14 14:08] #910 closed

[2017-06-14 14:39] #527 closed

[2017-06-14 15:32] #505 closed

[2017-07-11 14:06] antw opened #928 "Add UI to edit scenario user values"
I think we should add a UI to the ETEngine admin section allowing an authenticated user to edit the values of a scenario.

With the current system it's too easy to make mistakes such as:

* YAML syntax errors
* Failing to balance groups
* Specifying values already in the `balanced_values` column
* Exceeding the min/max values, making it impossible to correctly update the scenario through the ETM
*

[2017-07-11 15:30] grdw commented on #928
Very much in favor!

The current system actually consists of two systems:

1. Editing a scenario through [for example here](https://beta-engine.energytransitionmodel.com/data/latest/scenarios/695888/edit) (which is the 'somewhat' correct way 😅).
2. Editing through Sequelpro (which gives me nightmares). I can't stress this enough: **editing scenarios (especially on beta or production environments)

[2017-07-11 15:50] ChaelKruip commented on #928
I was not aware that we had this option! 😬

[2017-07-18 10:06] ChaelKruip commented on #463
@antw is this still something we want to do?

[2017-07-18 10:18] ChaelKruip opened #929 "Users should be able to generate a dump of values of the graph"
We get more third parties which need to extract data from the ETM which is not in the charts.

We could provide CSV dumps of queries like
[code]
and
[code]
for both the present and future year. This will cover most data-requests IMO.

CC: @jorisberkhout @AlexanderWirtz

[2017-07-18 10:18] ChaelKruip commented on #464
This is a very old issue but in light of https://github.com/quintel/etengine/issues/929 perhaps relevant again?

[2017-07-18 11:19] #463 closed

[2017-07-18 12:25] antw commented on #929
So the choice is between [arbitrary code execution](https://en.wikipedia.org/wiki/Arbitrary_code_execution)† or making some CSV files available? 😆

In the short-term I think we should support exporting those CSVs which would be useful. Once there are too many such files, we could switch to a more fully-featured export whereby you enter your e-mail address and we e-mail a link to a ZIP file contain

[2017-07-18 15:43] ChaelKruip commented on #929
I think we should go for that than!

What about a link in the options menu?
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://user-images.githubusercontent.com/1303760/28326256-907c7750-6be0-11e7-994b-50bdba8adee8.png)

[2017-07-18 17:58] dennisquintel opened #930 "[Airbrake] [Production] JSON::GeneratorError: 868: NaN not allowed in JSON"
**Airbrake error:** [#8294](https://quintel.airbrake.io/projects/32233/groups/1997300066873678294)
**Airbrake project:** ETE

**Error type:** `JSON::GeneratorError`
**Error message:** `` JSON::GeneratorError: 868: NaN not allowed in JSON ``
**Where:** `api/v3/scenarios#update`
**Occurred at:** Jul 18, 2017 17:58:41 UTC
**First seen at:** Jul 18, 2017 17:58:41 UTC
**Occurrences:** 0 (0 since last d

[2017-07-19 15:34] antw commented on #929
How about putting it in the (proposed) "Information" tab? See https://github.com/quintel/etmodel/issues/2432#issuecomment-314403771. The report section would feel less lonely.

[2017-07-19 15:50] ChaelKruip commented on #929
I like it! 👍

[2017-07-21 08:26] AlexanderWirtz commented on #929
Or... we could make this be part of the actual report: have a section that offers you and extensive download etc etc. Seems like it would fit there just fine.

[2017-07-21 12:02] ChaelKruip commented on #929
I kindly disagree. This would force users who want to download data from the ETM to create a scenario first.
Moreover, it breaks with the current choice that data from the Merit Order is available from the normal front-end:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/28462762-0092f314-6e1d-11e7-9

[2017-07-26 15:55] dennisquintel opened #931 "[Airbrake] [Production] SyntaxError: (eval):1: syntax error, unexpected '<', expecting ']' [<Converter buildings_collectiv... ^ (eval):1: syntax error, unexpected ',' ...gs_collective_chp_network_gas>, <Converter buildings_collect... ... ..."
**Airbrake error:** [#0481](https://quintel.airbrake.io/projects/32233/groups/2003036161640930481)
**Airbrake project:** ETE

**Error type:** `SyntaxError`
**Error message:** `` SyntaxError: (eval):1: syntax error, unexpected '<', expecting ']' [<Converter buildings_collectiv...   ^ (eval):1: syntax error, unexpected ',' ...gs_collective_chp_network_gas>, <Converter buildings_collect... ...

[2017-08-02 09:43] grdw opened #932 "Sign in troubles local ETEngine environment"
@karimelbana isn't able to sign in locally to his ETengine development environment. It's a bit odd.

The behavior is as follows:

1. Create a user locally (for instance: `test@test.com` with password: `testtest`)
2. Sign in as that user
3. Click any page in ETSource
4. Get redirected to home page (with the message that you're already signed in) (from `Devise::SessionsController`).
5. 💢

We've trie

[2017-08-02 10:24] antw commented on #932
Is `role_id` set to `1`?

[code]

[2017-08-02 11:11] jorisberkhout commented on #932
No, my bad. I created an account for Karim on Beta ETEngine, but forgot to set his role.

[2017-08-02 11:13] jorisberkhout commented on #932
Could you fix this, @grdw ? I cannot change Karim's role from the ETEngine interface and I wouldn't let myself touch the database 😉

[2017-08-02 11:25] grdw commented on #932
No 😄 and that was it! Thanks @antw!

[2017-08-02 11:25] #932 closed

[2017-08-02 13:34] ChaelKruip opened #933 "Behaviour of P2H in paper sub-sector seems different from other sectors"
For Chemical, Refineries and Food, the maximum application of P2H results in about 98% of the heat demand being fulfilled with P2H. Example: Chemical has a total heat demand of 151.41 PJ and P2H can take care of about 149 PJ of that:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/28875892-8d9ed524-7

[2017-08-02 13:58] antw commented on #933
[Chemical](https://github.com/quintel/etsource/blob/068235c6ab93a6e6d139deef540692da8a225296/nodes/industry/industry_chemicals_other_flexibility_p2h_electricity.ad#L7), [refineries](https://github.com/quintel/etsource/blob/068235c6ab93a6e6d139deef540692da8a225296/nodes/industry/industry_chemicals_refineries_flexibility_p2h_electricity.ad#L7), and [food](https://github.com/quintel/etsource/blob/068

[2017-08-02 14:09] ChaelKruip commented on #933
Well spotted @antw! That's it. Fixed with a49fd81a44b77d1fd86d2e925c1ae583280cd81b

[2017-08-02 14:09] #933 closed

[2017-08-02 14:17] ChaelKruip commented on #933
One remaining question (low priority) I have is how it can be that the exact percentage of heat demand for the different sub sectors can actually differ when the technologies are dimensioned based on the total demand and their efficiencies are equal.

In other words: If the excess events are sufficient to produce 98% of the heat demand in a big sector, why does it only deliver 87% in a smaller sec

[2017-08-03 07:21] ChaelKruip commented on #929
After talking to an interested client, they came up with the following wishes:
* Energy data from useful demand (UD), to final demand (FD) to primary demand (PD)
* If possible, combine all data in one big table/matrix to be easily copied into Excel
* A separate table could give technical and financial specs of technologies
* A separate table could give carrier specs so the user can use the energy

[2017-08-09 13:55] jorisberkhout commented on #929
From talking to Berenschot and Gasunie I get the impression that this would be a very useful thing.

Those worries are well-grounded and I have looked into them in great detail. First up, the extent of the issue.

| **Sector** | **Primary demand of useful demand group (MJ)** | **Primary demand of final demand group (MJ)** | **Difference (MJ)** |
|:-- | --:| --:| --:|
| buildings | 496,997,122,224.

[2017-08-09 13:56] jorisberkhout commented on #929
Interestingly I found more differences, which I will document here.

- `buildings_useful_demand_after_insulation_cooling` is not included in the useful demand group, but should be as its final demand counterparts are
- `buildings_useful_demand_for_space_heating_after_insulation` is not included in the useful demand group, but should be as its final demand counterparts are

[2017-08-09 19:09] antw commented on #929
Sorry, I missed this question when it was posted. 😊

I think you're right to say it would not give you this information. To do this I expect we'd need recursive factor to not only return the final demand, but also the nodes from which the final demand was calculated. Then we'd have to compute the primary demand from those final demand nodes and weigh the result accordingly (i.e., if cooking is 1%

[2017-08-10 10:20] jorisberkhout commented on #929
The issue with the UD of cooling and space heating in buildings is solved by the changes https://github.com/quintel/etsource/pull/1305.

[2017-08-10 15:48] jorisberkhout opened #936 "Primary demand method does not know how to deal with converter efficiencies > 100%"
As described in https://github.com/quintel/etengine/issues/929#issuecomment-321262448, there are differences between the primary demands of all converters in the useful demand group and the final demand group for most sectors.

I have traced down the cause of the differences in the households and buildings sector. The are entirely caused by the fact that the efficiencies of `households_space_heate

[2017-08-10 15:59] jorisberkhout commented on #936
This very same issue causes the entire difference between primary of useful and primary of final in the transport sector as most (or all?) car technologies have "efficiencies" `>100%`.

[2017-08-17 12:45] ChaelKruip opened #939 "Ruby internship needs to be removed more thoroughly"
I removed the link a while ago but the page [https://quintel.com/jobs/dev_internship](https://quintel.com/jobs/dev_internship) can still be found through Google. Can we hide this page without throwing it away completely?

[2017-08-17 12:47] grdw commented on #939
We can remove the actual page, so google doesn't pick it up anymore (and sees it as a 404) I guess. 👍 To clearify, if we want to retrieve it we can simply do a git revert.

[2017-08-17 12:50] ChaelKruip commented on #939
I could swear I opened this in the quintel.com repo 😖

[2017-08-17 12:52] grdw commented on #939
Fixed with: https://github.com/quintel/quintel.com/commit/948aef04bcbd0f4bd55b7f94ab3ae91cb6e12fd4

[2017-08-17 12:52] #939 closed

[2017-08-30 14:14] grdw opened #942 "Nitpicking: new node positions of heat"
How about if we move the deficit nodes from here:

![screen shot 2017-08-30 at 16 11 46](https://user-images.githubusercontent.com/2676542/29876861-2cd57d70-8d9e-11e7-8ff2-397dda5a2715.png)

To here:
![screen shot 2017-08-30 at 16 12 40](https://user-images.githubusercontent.com/2676542/29876860-2c8393d4-8d9e-11e7-9007-31f60bccc595.png)

I'm not a big fan of the overlapping edges.

[2017-08-30 14:27] ChaelKruip commented on #942
👍

[2017-08-30 15:44] DorinevanderVlies commented on #942
I agree that it looks a lot better like that!
There is a lack of space below the water heater technologies. How about the change as shown below?

![image](https://user-images.githubusercontent.com/19907658/29881444-cb63f5aa-8daa-11e7-9f0a-b4ff45198eee.png)

![image](https://user-images.githubusercontent.com/19907658/29881407-bf1ab194-8daa-11e7-9211-026a8db0983c.png)

[2017-08-31 05:51] grdw commented on #942
You can also move all the other nodes down a notch, but I guess that's a bit hard to do with the current interface. It would be great if you could select all nodes with a "square" selection tool (instead of Alt+Click) and drag them down some way.

That position is fine by me though, as long as it is consistent with the water heater.

[2017-08-31 06:45] DorinevanderVlies commented on #942
I agree that it would be nicer to move the other nodes down a notch.

It is

[2017-08-31 07:41] #942 closed

[2017-08-31 08:29] ChaelKruip opened #944 "Number of units of households_water_heater_network_gas is not set correctly"
Setting its share to 100%, set the number of units to zero!

@antw I realised that this technology is an exception as it is used to balance the group and has an empty update statement:

https://github.com/quintel/etsource/blob/master/inputs/demand/households/households_hot_water/households_water_heater_network_gas_share.ad#L1

[2017-08-31 09:27] antw commented on #944
whaaaaat. 😐

All the heat producers are `demand_driven`, so with a share of 100% it should have 7.5M units installed in NL. Although it it connected to the useful demand node with a `flexible` instead of `share` edge, that really shouldn't matter (ETE still calculated the share correctly).

Looking into this...

[2017-08-31 09:29] ChaelKruip commented on #944
Very weird indeed. The Mechanical Turk fails about this converter only.

[2017-08-31 11:39] #944 closed

[2017-09-04 09:52] grdw opened #946 "Graph filters are broken"
![screen shot 2017-09-04 at 11 50 45](https://user-images.githubusercontent.com/2676542/30021339-556932be-9167-11e7-979d-1891f4e3364f.png)

Graph filters are broken. Clicking on any of the 'show' or 'hide' buttons result in:

![screen shot 2017-09-04 at 11 51 43](https://user-images.githubusercontent.com/2676542/30021372-74bf68d6-9167-11e7-8e60-6989316c09f0.png)

[2017-09-04 10:35] antw commented on #946
Seems to be specific to Firefox. Chrome (v60) and Safari (10.1.2) are both okay.

[2017-09-04 14:04] ChaelKruip opened #947 "Using 100% gas-part of HHP should be the same as using 100% combi boilers"
If I set the COP-threshold to the max in a new scenario and HHP to 100% I get this for space heating:
![cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/30029715-9d65a0f2-918a-11e7-9a9f-c45731666836.png)

Using 100% combi-boilers instead reduces the gas demand:
![cursor_and_energy_transition_

[2017-09-04 14:07] ChaelKruip commented on #947
For hot water the situation is reversed!
* HHP: 67.95 PJ gas
* Combi boiler: 73.13 PJ gas

[2017-09-04 15:02] antw commented on #947
Different output conversions.

* Hot water combi-boiler: 90% of energy is output as useable heat.
* Hot water HHP: 96.67% of energy is output as useable heat.

Combi boiler: 73.13 PJ × 90% = **65.82 PJ** useable heat output from the converter
HHP: 68.08 PJ × 96.67% = **65.81 PJ** useable heat output from the converter

This is also true on production:

**100% combi boilers**, combi-boiler flows:

[2017-09-04 15:11] ChaelKruip commented on #947
Ah! I think I understand what goes wrong here (but not yet why)...

On Production, the 96.67% efficiency is for the *whole* HHP technology (electric heat pump plus combi-boiler part averaged over the year). On Beta, the HHP is modelled as two separate technologies (in Fever). The combi-boiler part should be exactly equal to the combi-boiler as a separate technology. Consequently, it should use 90%

[2017-09-04 15:55] DorinevanderVlies commented on #947
I am also not sure why... What confuses me is that the output useable heat is defined similarly for HHP and combi boilers:

HHP has:`- output.useable_heat.network_gas = 0.9`
Combi boiler has: `- output.useable_heat = 0.9`

I agree that this is what should be happening

[2017-09-04 16:22] antw commented on #947
If I remember correctly, this feature is supported in Atlas+Refinery only. It is used to compute the shares for the `present` graph (and therefore the initial state of the `future` graph).

ETEngine never sees the original `output.useable_heat.network_gas` attribute; it only receives the final, computed `useable_heat` share given to it by Atlas. I appreciate that this is not at all clear by lookin

[2017-09-04 17:09] ChaelKruip commented on #947
Nicely put! Indeed we are... and possibly we should change that at some point.

What would it take for this to be done @antw?

[2017-09-04 20:02] antw opened #948 "Household heat demand satisfied by P2H is wrongly identified as a deficit"
![screen shot 2017-09-04 at 21 01 40](https://user-images.githubusercontent.com/4383/30037586-45e05370-91b4-11e7-9c5b-de5ea2320a30.png)

[2017-09-04 20:04] ChaelKruip commented on #948
Nice catch!

[2017-09-05 10:53] antw commented on #947
A temporary fix has been pushed to beta.

"Temporary" because it involves reading the raw attributes `output.useable_heat.electricity` from Atlas, which is a bit of a no-no in ETEngine. In the clean-up phase I'll try to improve this with a more generic solution which we could use elsewhere in the graph (i.e. not limited to only the HHP).

**100% space heating HHP, CoP cutoff = 6.0**

<img width="6

[2017-09-05 10:53] #947 closed

[2017-09-05 10:54] ChaelKruip commented on #947
😍 😍 😍

[2017-09-11 07:34] ChaelKruip opened #949 "Sum industry P2H series and make available to GQL"
Follow up of https://github.com/quintel/etmodel/issues/2468#issuecomment-328176737

[2017-09-15 13:24] #948 closed

[2017-09-26 13:11] grdw opened #950 "Graph nodes / edges mess"
![screen shot 2017-09-26 at 15 08 57](https://user-images.githubusercontent.com/2676542/30861952-a9d299fa-a2cc-11e7-8e1c-178cb915b7ac.png)

The graph is already as complex as it is, but it's also pretty hard to follow - purely visually. I know from software like [yEd](http://www.yworks.com/products/yed) there are algorithms that can automatically position these types of graphs rather easily. This

[2017-10-04 09:22] dennisschoenmakers opened #951 "[Airbrake] [Production] Git::GitExecuteError: git log "--pretty=raw" "-1" "datasets/barendrecht" 2>&1:fatal: ambiguous argument 'datasets/barendrecht': unknown revision or path not in the working tree. Use '--' to separate paths from revisions, like t..."
**Airbrake error:** [#1536](https://quintel.airbrake.io/projects/32233/groups/2053572731447711536)
**Airbrake project:** ETE

**Error type:** `Git::GitExecuteError`
**Error message:** `` Git::GitExecuteError: git log "--pretty=raw" "-1" "datasets/barendrecht"  2>&1:fatal: ambiguous argument 'datasets/barendrecht': unknown revision or path not in the working tree. Use '--' to separate paths from re

[2017-10-04 09:52] grdw opened #952 "gc_stats crashes sometimes locally"
Error:

[code]

[2017-10-06 08:40] grdw commented on #951
Removed 'Barendrecht' scenarios from the databases (both staging and production). They live as backups on my Mac (if anybody needs them, talk to me).

[2017-10-06 08:40] #951 closed

[2017-10-06 11:40] MichielDenHaan opened #953 "yml doesnt work in etengine"
[code]

[2017-10-09 07:33] ChaelKruip commented on #953
@MichielDenHaan can you specify the problem a bit more?

[2017-10-09 11:26] MichielDenHaan commented on #953
Was just a thing for Gerard, looks to be solved now!

[2017-10-09 11:26] #953 closed

[2017-10-10 11:14] ChaelKruip opened #954 "environment_water_water should adapt its demand"
In [this scenario](https://beta-pro.energytransitionmodel.com/scenarios/743161) (and possible others) the environment_water_water does not update its demand correctly:
<img width="969" alt="cursor_and_energytransitionmodel" src="https://user-images.githubusercontent.com/1303760/31383885-fdf72442-adbc-11e7-86d3-668e52dbbb16.png">

[2017-10-10 11:31] antw commented on #954
This is because two industry converters are connected to `environment_water_water` via an `ambient_heat` carrier whose conversion is always 0.0. @ChaelKruip suspects that these industry converters should in fact have been connected to `environment_earth_ambient_heat`.

![screen shot 2017-10-10 at 12 31 13](https://user-images.githubusercontent.com/4383/31384446-f727f0de-adb6-11e7-98ba-3f7235ce68e4

[2017-10-10 12:10] #954 closed

[2017-10-18 13:27] antw opened #955 "Rename "total_demand" Merit participant to something more descriptive"
This participant name is no longer accurate since it doesn't include loads arising from EVs, or space- and hot-water heating.

@DorinevanderVlies [suggested](https://github.com/quintel/etmodel/issues/2514#issuecomment-337588295) `other_demand` as an alternative.

[2017-11-02 10:41] dennisschoenmakers opened #957 "[Airbrake] [Production] NoMethodError: undefined method `with_indifferent_access' for nil:NilClass"
**Airbrake error:** [#1738](https://quintel.airbrake.io/projects/32233/groups/2074630972600391738)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `` NoMethodError: undefined method `with_indifferent_access' for nil:NilClass ``
**Where:** `data/scenarios#create`
**Occurred at:** Nov 02, 2017 10:41:24 UTC
**First seen at:** Nov 02, 2017 10:41:24 UTC
**Occurrences:** 0

[2017-11-02 17:19] DorinevanderVlies opened #959 "Add total_investment_over_lifetime_per(:converter) to data export"
For one of our customers I would like to add the outcome of the following query to the datadump:
TXT_TABLE(V(G(heat_production),G(electricity_production)),   key, total_investment_over_lifetime_per(converter))

I think this can be done by adding `total_investment_over_lifetime_per(:converter)` to the data export production parameters. However, d787a88 does gives errors when I try to export.

@antw

[2017-11-02 19:15] antw commented on #959
I've pushed a commit to that branch. Not all converters in the three groups ("heat_production", "electricity_production", and "cost_other") have costs assigned. Therefore, calling total_initial_investment would fail:

[2017-11-03 07:34] DorinevanderVlies commented on #959
Thanks @antw! This will save us a lot of time as we will have to run far less queries 😄

[2017-11-03 11:09] #959 closed

[2017-11-08 08:47] dennisschoenmakers opened #961 "[Airbrake] [Production] NoMethodError: undefined method `with_indifferent_access' for false:FalseClass"
**Airbrake error:** [#8430](https://quintel.airbrake.io/projects/32233/groups/2078921985934398430)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `` NoMethodError: undefined method `with_indifferent_access' for false:FalseClass ``
**Where:** `data/scenarios#update`
**Occurred at:** Nov 08, 2017 08:46:52 UTC
**First seen at:** Nov 08, 2017 08:46:52 UTC
**Occurrences:*

[2017-11-08 09:06] antw commented on #961
Was closed by 671fa7a9. I've cherry-picked it to production and it'll be deployed momentarily.

[2017-11-08 09:06] #961 closed

[2017-11-08 09:17] #957 closed

[2017-11-08 09:17] grdw commented on #957
Closed due to https://github.com/quintel/etengine/issues/961#issuecomment-342754660

[2017-11-15 14:44] dennisschoenmakers opened #965 "[Airbrake] [Production] No Atlas data for "baarland" at /var/www/etengine/releases/20171108090526/tmp/atlas/baarland.pack"
**Airbrake error:** [#7333](https://quintel.airbrake.io/projects/32233/groups/2084175345612657333)
**Airbrake project:** ETE

**Error type:** `RuntimeError`
**Error message:** `` No Atlas data for "baarland" at /var/www/etengine/releases/20171108090526/tmp/atlas/baarland.pack ``
**Where:** `api/v3/inputs#index`
**Occurred at:** Nov 15, 2017 14:44:21 UTC
**First seen at:** Nov 15, 2017 14:44:21 UTC

[2017-11-15 15:03] grdw commented on #965
This was me trying out if it worked, a little too soon.

[2017-11-15 15:03] #965 closed

[2017-11-16 11:15] grdw opened #966 "Remove all invalid old scenarios from ETEngine"
Will provide list in issue with relevant error

[2017-11-16 12:39] grdw opened #967 "Validate user_values / balanced_values if the inputs actually still exist in ETSource"

[2017-11-16 14:01] grdw opened #970 "Clean up remote branches"
[code]

[2017-11-20 16:19] MartLubben commented on #331
@chael Is this issue solved and could you close it?

[2017-11-21 13:28] dennisschoenmakers opened #972 "[Airbrake] [Production] param is missing or the value is empty: flexibility_order"
**Airbrake error:** [#7042](https://quintel.airbrake.io/projects/32233/groups/2088485758449917042)
**Airbrake project:** ETE

**Error type:** `ActionController::ParameterMissing`
**Error message:** `` param is missing or the value is empty: flexibility_order ``
**Where:** `api/v3/flexibility_orders#set`
**Occurred at:** Nov 21, 2017 13:28:22 UTC
**First seen at:** Nov 21, 2017 13:28:22 UTC
**Occur

[2017-11-21 13:40] grdw commented on #972
This was me trying out some things with `curl`. Closing.

[2017-11-21 13:40] #972 closed

[2017-11-30 10:13] grdw opened #974 "Wasn't Rails for ETengine updated?"
Now that I see that Rails is showing dependency vulnerabilities, a question pops up: wasn't Rails updated for ETengine?

[2017-11-30 10:16] grdw commented on #974
Guess not: https://3.basecamp.com/3797409/buckets/4288547/todos/594407413

Closing.

[2017-11-30 10:16] #974 closed

[2017-12-14 13:06] grdw opened #977 "New datasets in ETSource aren't calculated and messagepacked automatically"
Everytime a new dataset is imported from ETSource - the `deploy:calculate_datasets` task doesn't seem to run (or people are impatient 😆).

I always seem to have to do this manually somehow 🤔 which fixes the 'ETmodel' from freezing up.

[2017-12-15 15:08] #977 closed

[2018-01-03 10:09] jorisberkhout commented on #782
I believe this is no longer needed due to the new way of creating local datasets, right @grdw ? If so, could you close this issue?

[2018-01-03 10:28] grdw commented on #782
I have no idea about the context of this issue, but it appears that inputs for `AREA` attributes already exist and are in use. So I guess this can be closed.

[2018-01-03 10:28] #782 closed

[2018-01-03 10:35] jorisberkhout commented on #782
Given the age of the issue, probably nobody does anymore :wink: Thanks for the taking responsibility and closing this issue 😄

[2018-01-05 10:21] #811 closed

[2018-01-08 11:17] grdw opened #986 "GQL error"
[code]

[2018-01-08 11:22] grdw commented on #986
Fixed it, appearantly all queries starting with a number, in the example above:

`Q(1990_in_co2_emission)` should be quoted: `Q("1990_in_co2_emission")`.

[2018-01-08 11:22] #986 closed

[2018-01-22 08:52] grdw opened #990 "Dataset at PR: https://github.com/quintel/etsource/pull/1534/files#submit-review doesn't work"
Related: https://github.com/quintel/etsource/pull/1534

Error:

[code]

I'm guessing that this only happens localhost, but it's a bit worrying.

[2018-01-22 09:08] grdw commented on #990
Hmmm.. it almost looks as though ETEngine doesn't automatically refresh the content in ETsource 🤔

[2018-01-22 09:25] grdw commented on #990
Turns out I'm an idiot.

[2018-01-22 09:25] #990 closed

[2018-01-23 13:11] grdw opened #991 "When running the migration for the CO2 emission sliders, the memory of my Mac runs full."
Relevant migration: https://github.com/quintel/etengine/blob/migration-for-co2-emissions/db/migrate/20180104152128_correct_co2_emission_sliders.rb

When running this migration for ~3200 scenarios, after 1600 - 1700 scenarios my machine is running out of memory.

I tried removing instance variables like:

[code]

But this doesn't seem to really help that much (maybe it will get to 1950 but not any

[2018-01-23 13:40] antw commented on #991
I'm guessing that [`scenario.gql`](https://github.com/quintel/etengine/blob/0f6dad57e3357d7f554924861597eb2d46284430/db/migrate/20180104152128_correct_co2_emission_sliders.rb#L22) is the culprit but it's not clear why that would cause the migration to *run out* of memory.

If I run `Scenario.default.gql` the memory used increases to about 400MB and then garbage collection kicks in and keeps it at

[2018-01-23 15:43] antw commented on #991
Forcing GC to run had no effect for me. I've had some success with specifying the batch size for `find_each`.

[code]

For me the process now stabilises somewhere around 600MB; without the batch_size option it keeps growing. This makes some sense as the default batch size is 1000. I'm guessing that ActiveRecord is [holding a reference to all the scenarios](https://github.com/rails/rails/blob/d25c2

[2018-01-24 09:46] MartLubben opened #993 "Mistake in technology shares motorcycles IABR scenario probably due to migration"
The IABR scenario https://beta-pro.energytransitionmodel.com/scenarios/597150 has a technology share which does not count up to 100, but is 5.9% and 0.2%.

![screen shot 2018-01-24 at 10 39 14](https://user-images.githubusercontent.com/33415156/35325052-e8d136f0-00f2-11e8-90e8-171a1f2184d8.png)

@grdw Could it be possible that something went wrong during the below migration?

[etengine/db/migrate/

[2018-01-24 13:10] grdw commented on #993
No, the migration isn't suppose to cause this behavior. The idea behind that migration was that if (and only if) at the time of that migration a `transport_motorcycle_using_gasoline_mix_share` share was present in the sliders - the corresponding `transport_motorcycle_using_electricity_share` would also be set. Somehow it didn't do this 😨

It could be that something went wrong with that migration -

[2018-01-24 13:33] grdw commented on #993
I rewrote it to be using only using the requirements from the migration debate [here](https://3.basecamp.com/3797409/buckets/4288548/messages/843023681#__recording_871463322) . This seems to solve it. I do remember the migration taking up a really long time on the `beta` server, just due to the size of the amount of scenarios to migrate. It did finish (since the corresponding `schema_migration` id

[2018-01-24 13:44] MartLubben commented on #993
@grdw good news :)

[2018-01-24 13:51] #993 closed

[2018-01-24 13:56] MartLubben commented on #993
@grdw
I checked  https://beta-pro.energytransitionmodel.com/scenarios/663150 and it still shows:
![screen shot 2018-01-24 at 14 55 20](https://user-images.githubusercontent.com/33415156/35335756-b9128576-0116-11e8-8946-57ab98275f3f.png)

I merged your migration, but I guess it still needs to run?
--

[2018-01-24 14:02] grdw commented on #993
# I merged your migration, but I guess it still needs to run?

Yes. You can always check at: https://semaphoreci.com/quintel/etengine/branches/master

[2018-01-24 14:17] grdw commented on #993
It still didn't go - for this particular scenario - as far as I can see.

[2018-01-24 14:18] grdw commented on #993
<img width="467" alt="screen shot 2018-01-24 at 15 17 48" src="https://user-images.githubusercontent.com/2676542/35336780-c2971ef6-0119-11e8-8add-100e0ca5efb3.png">

The migration did run - checking for example - scenario id 763399

[2018-01-24 14:22] grdw commented on #993
Okay, I did the unorthodox and edited the scenario manually through: https://beta-engine.energytransitionmodel.com/data/latest/scenarios/597150/edit - since I don't know why the scenario didn't migrate 🤷‍♂️

[2018-01-24 14:22] MartLubben commented on #993
I won't tell anyone. :)

[2018-01-25 15:07] nairnamratha opened #996 "Add Migration - Exchange rates"
This needs to be done for the fuel prices update issue [#1509](https://github.com/quintel/etsource/pull/1509#pullrequestreview-87224406).

The migration needs to be done for the same scenarios as for the previous fuel prices migration. See here [#989](https://github.com/quintel/etengine/pull/989)

What needs to be migrated:

1. Update **costs_coal** = User set value of costs_coal * 1.06934
2. Upda

[2018-01-31 10:16] #991 closed

[2018-01-31 10:39] #996 closed

[2018-01-31 10:48] grdw opened #998 "Migration Co2 emission sliders"
Yesterday I found out that you can't run a gquery from a migration. The reason for this is that the datasets aren't present in the migration (which implies that a graph cannot be initialized, which means that a gquery can't run).

This leaves the migration for the CO<sub>2</sub> sliders with a problem: namely that it will become a challenge to migrate them.

In the situation of the fuel price migr

[2018-02-14 13:13] dennisquintel opened #1002 "[Airbrake] [Production] An error has occurred, all later migrations canceled: Directly inheriting from ActiveRecord::Migration is not supported. Please specify the Rails release the migration was written for: class RenameNomimalIntoNominal < Active..."
**Airbrake error:** [#1150](https://quintel.airbrake.io/projects/32233/groups/2150084283763431150)
**Airbrake project:** ETE

**Error type:** `StandardError`
**Error message:** `` An error has occurred, all later migrations canceled:  Directly inheriting from ActiveRecord::Migration is not supported. Please specify the Rails release the migration was written for:    class RenameNomimalIntoNominal

[2018-02-21 15:22] dennisquintel opened #1004 "[Airbrake] [Production] 822: unexpected token at ''; '"
**Airbrake error:** [#2491](https://quintel.airbrake.io/projects/32233/groups/2155222202211802491)
**Airbrake project:** ETE

**Error type:** `JSON::ParserError`
**Error message:** `` 822: unexpected token at '';  ' ``
**Where:** `<no information>`
**Occurred at:** Feb 21, 2018 15:21:47 UTC
**First seen at:** Feb 21, 2018 15:21:47 UTC
**Occurrences:** 1 (0 since last deploy on `<no information>`)

[2018-02-23 14:30] grdw commented on #897
There's actually a 'nice to have' idea for this for ETLocal. Closing this issue.

[2018-02-23 14:30] #897 closed

[2018-02-23 14:34] grdw commented on #909
Closing this as it is decided that there will only be one ETModel, one ETEngine and therefor one graph. The differences should be none.

Related: https://github.com/quintel/atlas/pull/116

[2018-02-23 14:34] #909 closed

[2018-02-26 09:24] DorinevanderVlies opened #1160 "Add units to data export tables"
On a regular basis I get clarification requests for the data export tables.
I think it would be a good improvement if we add units to the data export tables.

Either in the names of the attributes or in an extra row below the column titles.

[2018-03-06 09:42] dennisquintel opened #1005 "[Airbrake] [Production] undefined method `fever' for nil:NilClass"
**Airbrake error:** [#0465](https://quintel.airbrake.io/projects/32233/groups/2164473447657150465)
**Airbrake project:** ETE

**Error type:** `NoMethodError`
**Error message:** `` undefined method `fever' for nil:NilClass ``
**Where:** `api/v3/merit#load_curves`
**Occurred at:** Mar 06, 2018 09:42:21 UTC
**First seen at:** Mar 06, 2018 09:42:21 UTC
**Occurrences:** 0 (0 since last deploy on `<no i

[2018-03-14 09:21] grdw opened #1007 "Importing etsource on etengine takes up a lot of time due to calculating all the local datasets"
This currently causes a time-out error at ETEngine. Currently you just have to wait it out and the error will go away once you go back to the ETSource tab on ETEngine.

I'm not sure how to feel about this one, but it would be nice if we could fix this.

[2018-03-23 19:40] marliekeverweij opened #1011 "Engine should give an error when shares of one carrier do not add up to 1"
@ChaelKruip and I found out today that the engine runs when the input shares to a node together were **200%**! I forgot to give the two inputs a ` ~ child_share ` and therefore both inputs became 100%. (This was the case for the two hydrogen transport techonologies to the node `energy_distribution_hydrogen_after_transport`) It would be good if this would not be possible!

[2018-05-16 07:41] #966 closed

[2018-05-16 07:42] #967 closed

[2018-05-16 07:42] #970 closed

[2018-05-16 07:43] #998 closed

[2018-05-16 08:57] #837 closed

[2018-05-25 13:29] #914 closed

[2018-05-29 10:20] #767 closed

[2018-06-15 09:38] jorisberkhout commented on #332
Removing milestone.

[2018-09-10 09:12] #952 closed

[2018-09-10 19:03] antw opened #1025 "Change DIVIDE to protect against division-by-zero"
As @DorinevanderVlies documents in quintel/etmodel#2862, it is possible to divide a value by zero in a query or input, and guarding against these errors is cumbersome. `DIVIDE` already protects against some invalid operations:

[code]

By comparison, Ruby-style division does this:

[code]

The question is what should we do about the fourth `DIVIDE` example: `DIVIDE(1, 0)`? The current result – `In

[2018-09-11 08:48] michieldenhaan commented on #1025
I think I prefer ``DIVIDE(1 , 0)    # => 0.0`` rather than a new function. So far I've only come across instances of 'unacceptable and unexpected' division by zero, so we might never use a separate 'not-so-safe' ``DIVIDE``. Or can someone think of cases in which it can be useful?

[2018-09-20 08:47] ChaelKruip commented on #1025
Can you elaborate @antw ?

My feeling is that returning zero could be confusing. Infinity let's me know that I'm dividing by zero somewhere and therefore should be aware. If I get 'zero' as a result I might be tempted to either ignore the problem or look for the nominator to be zero for some reason instead of the denominator...

I'll think about how to deal with the original issue as well

[2018-09-20 12:59] antw commented on #1025
My reasoning for this change is that `DIVIDE` already hides *some* cases of division-by-zero:

[code]

The only change I'm suggesting is that perhaps `DIVIDE(1, 0)` should return `0.0` instead of `Infinity`. Ruby-style division (`a / b`) would continue to return `Infinity` and `NaN` when dividing by zero.

My question is: is it useful that `DIVIDE` returns infinity? If so we can leave it, but we n

[2018-09-20 14:27] ChaelKruip commented on #1025
My answer would be a tentative "yes" but...

... not useful enough to warrant the creation of new methods or use spending a lot of energy on  quintel/etmodel#2862 if it can be solved straightforwardly with the proposed change.

In short: let's do it! 😄

[2018-10-12 06:42] michieldenhaan opened #1030 "Did scenario migration run succesfully?"
I came across a scenario on PRO that still contains ``number_of_energy_hydrogen_`` user inputs rather than ``capacity_of_energy_hydrogen_``. Same goes for ``industry_useful_demand_for_other_aggregated_industry_nl_efficiency`` (which no longer exists). See https://pro.energytransitionmodel.com/scenarios/378087. It's an unprotected scenario but created only a few weeks ago.

Did the scenario migrati

[2018-10-12 14:13] #1030 closed

[2018-10-12 14:29] #1025 closed

[2018-10-15 07:11] michieldenhaan commented on #1030
Thanks! 👍

[2018-12-04 14:01] marliekeverweij opened #1033 "demand_of_bio_resources_including_abroad_of method should include domestic primary demand"
For normal NL scenario (local machine).

![image](https://user-images.githubusercontent.com/32833996/49446902-794d3d80-f7d5-11e8-9484-ec0949d25560.png)

This shows energy:
[code]

This doesn't
[code]

But it should right @antw ?

[2018-12-04 14:48] #1033 closed

[2018-12-18 13:11] ChaelKruip opened #1036 "primary_demand_of_biodiesel should return non-zero result for biomass branch"
`V(energy_export_biodiesel, primary_demand)` gives a result of 0.0 locally but returns 53 PJ on BETA.

@antw could you help figure out why this happens? The `energy_production_biodiesel` still is part of the `primary_energy_demand` groups so we are a bit lost as to why the `primary_demand` methods seems to have stopped working for this carrier.

[2019-01-14 14:46] antw commented on #1036
I have pushed this change to the **[biomass-primary-demand](https://github.com/quintel/etengine/tree/biomass-primary-demand)** branch so that it may be compared with old implementation on the **biomass** branch.

I expect there will be little-to-no fallout as there are no nodes in the graph which are members of the group but which were *not* considered to be at the far-right of the graph for the p

[2019-01-23 14:35] marliekeverweij commented on #1036
@redekok and I have compared the new primary demand calculation method with the old primary demand calculation method and we have found no differences in primary demand. We have checked it by comparing the [biomass](https://github.com/quintel/etengine/tree/biomass) ETEngine branch with the [biomass-primary-demand](https://github.com/quintel/etengine/tree/biomass-primary-demand) ETEngine branch and

[2019-01-29 16:39] antw commented on #1036
This change _hasn't_ landed on `master` with the rest of the heat and biomass merge. Let me know if / when you still want to go ahead with this (no hurry).

[2019-02-07 12:31] #1036 closed

[2019-02-14 15:57] michieldenhaan opened #1042 "'Old' insulation migration on BETA results in very high insulation for buildings"
The 'old' migration for buildings insulation has resulted in very high values for ``buildings_insulation_level``. For some scenarios the value is 200,000+ (while the slider max is 74). @ChaelKruip and I checked this for multiple areas and found very high values. One scenario initially had an RC value of around 0.6 (out of 3) and now has ``buildings_insulation_level: 236682.94745370373``

We've che

[2019-02-15 09:16] ChaelKruip commented on #1042
NOTE: This issue has not been resolved by the last deploy.